<div class="page-header">
  <h3>Pathological #<%= @pathological.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Patient</dt>
      <dd><%= @pathological.patient_id %></dd>

      <dt>Disease</dt>
      <dd><%= @pathological.disease %></dd>

      <dt>Start date</dt>
      <dd><%= @pathological.start_date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pathologicals" class="btn btn-primary">
        Back
      </a>
      <a href="/pathologicals/<%= @pathological.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pathological/<%= @pathological.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
