<!-- Validation failure messages -->
<% if @other_background.errors.any? %>
  <% @other_background.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Other Background</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_other_background" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <input type="text" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= @other_background.patient_id %>">
      </div>

      <!-- Label and input for perinatal -->
      <div class="form-group">
        <label for="perinatal" class="control-label">
          Perinatal
        </label>

        <input type="text" id="perinatal" name="perinatal" placeholder="Perinatal" class="form-control" value="<%= @other_background.perinatal %>">
      </div>

      <!-- Label and input for other -->
      <div class="form-group">
        <label for="other" class="control-label">
          Other
        </label>

        <input type="text" id="other" name="other" placeholder="Other" class="form-control" value="<%= @other_background.other %>">
      </div>

      <button class="btn btn-success">
        Create Other Background
      </button>
      or
      <a href="/other_backgrounds">Cancel</a>
    </form>
  </div>
</div>
