<div class="page-header">
  <h3>Detalles de Cliente: <%= @broker_relation.patient.first_name + " " + @broker_relation.patient.last_father  %></h3>
</div>

<div class="row">
  <div class="col-md-8 mb-2">
    <dl class="dl-horizontal">

      <dt>Seguro que representa</dt>
      <dd><%= @broker_relation.insurance_company %></dd>

      <dt>Número de Póliza</dt>
      <dd><%= @broker_relation.contract_code %></dd>

      <dt>Notas de cliente</dt>
      <dd><%= @broker_relation.broker_notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/directorio_agentes" class="btn btn-primary">
        Regresar
      </a>
      <a href="/broker_relations/<%= @broker_relation.id %>/edit" class="btn btn-warning">
        Editar
      </a>
      <a href="/delete_broker_relation/<%= @broker_relation.id %>" class="btn btn-danger" rel="nofollow">
        Eliminar
      </a>
    </div>
  </div>
</div>
