<div class="page-header">
  <h1>
    MediLinx | Blog
    <!-- <a href="/blogs/new" class="btn btn-lg btn-success">New Blog</a> -->
  </h1>
</div>

<div class="row" >
  <% @blogs.each do |blog| %>
  <div class="col-md-4" >
    <div class="panel panel-default" style="height:200px">
      <div class="panel-heading" style="height:40px">
        <h4 ><%= blog.post_content %></h4>
      </div>

      <div class="panel-body" style="height:120px">
        <p><a href="/blogs/<%= blog.id %>"  style="color:#181818; font-size:20px; font-family:calibri"><%= blog.article_title %></a></p>
      </div>
      <div class="panel-body" >
        <%= blog.post_date %> | <%= blog.post_author %>

  </div>
  </div>
</div>
<% end %>
</div>
