<div class="page-header">
  <h3>Other Background #<%= @other_background.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Patient</dt>
      <dd><%= @other_background.patient_id %></dd>

      <dt>Perinatal</dt>
      <dd><%= @other_background.perinatal %></dd>

      <dt>Other</dt>
      <dd><%= @other_background.other %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/historial_medico" class="btn btn-primary">
        Back
      </a>
      <a href="/other_backgrounds/<%= @other_background.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_other_background/<%= @other_background.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
