<!-- Validation failure messages -->
<% if @surgical.errors.any? %>
  <% @surgical.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Agregar Cirugía</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_surgical" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <input type="hidden" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= current_patient.id %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group col-md-6">
        <label for="name" class="control-label">
          Nombre de cirugía
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @surgical.name %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group col-md-6">
        <label for="date" class="control-label">
          Fecha
        </label>

        <input type="date" id="date" name="date" placeholder="Date" class="form-control" value="<%= @surgical.date %>">
      </div>

      <button class="btn btn-success">
        Agregar
      </button>
      or
      <%= link_to "Cancelar", :back %>
    </form>
  </div>
</div>
