<div class="page-header">
  <h3>Surgical #<%= @surgical.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Patient</dt>
      <dd><%= @surgical.patient_id %></dd>

      <dt>Name</dt>
      <dd><%= @surgical.name %></dd>

      <dt>Date</dt>
      <dd><%= @surgical.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/surgicals" class="btn btn-primary">
        Back
      </a>
      <a href="/surgicals/<%= @surgical.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_surgical/<%= @surgical.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
