<div class="page-header">
  <h1>
    Panel de Control de Reclamos
    <!-- <a href="/claims/new" class="btn btn-md btn-success">Generar nuevo</a> -->
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" style="background-color:#EAEDED">

      <div class="panel-body">

        <div class="col-md-4">
          <div class="panel panel-primary" >
            <div class="panel-heading">
              <h3 class="panel-title">Nuevas solicitudes</h3>
            </div>

            <table class="table table-striped table-hover" style="table-layout:fixed; border-collapse:collapse; ">
              <tr style="font-size;">
                <th style="width:30%">Paciente</th>
                <th style="width:20%">Seguro</th>
                <th style=" width:20%">Tipo</th>
                <th ></th>

              </tr>

              <% @claims.reverse.each do |claim| %>
              <% if @claim_follows.where("claim_id"=>claim.id).exists? == true && claim.claim_follow.insurance_read == nil%>
              <tr style="font-size:12px">
                <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.patient_name %></td>
                <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.insurance_name %></td>
                <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.claim_type %></td>
                <td style="text-align: left"><form action="/update_claim_follow/<%= claim.claim_follow.id %>" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="hidden" id="patient_request" name="patient_request" value="1" <%= "checked" if claim.claim_follow.patient_request %>>
                  <input type="hidden" id="insurance_read" name="insurance_read" value="1" <%= "checked" if claim.claim_follow.insurance_read %>>
                  <input type="hidden" id="claim_id" name="claim_id" placeholder="Claim" class="form-control" value="<%= claim.claim_follow.claim_id %>">
                  <button class="" style="height:20px">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                </form>
              </td>
              <% end %>
              <% end %>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary" >
          <div class="panel-heading">
            <h3 class="panel-title">En proceso de Revisión</h3>
          </div>

          <table class="table table-striped table-hover" style="table-layout:fixed; border-collapse:collapse">
            <tr style="font-size;">
              <th style="height:10px; width:30%">Paciente</th>
              <th style="height:10px; width:20%">Seguro</th>
              <th style=" width:20%">Tipo</th>
              <th></th>
              <th><i class="fa fa-paperclip" aria-hidden="true"></i></th>

            </tr>

            <% @claims.reverse.each do |claim| %>
            <% if @claim_follows.where("claim_id"=>claim.id).exists? == true && claim.claim_follow.insurance_read == true && claim.claim_follow.insurance_approved == nil%>
            <tr style="font-size:12px">
              <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.patient_name %></td>
              <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.insurance_name %></td>
              <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.claim_type %></td>
              <td style="text-align: left"><a href="/claims/<%= claim.id %>" ><i class="fa fa-search-plus" aria-hidden="true"></i></a></td>

              <% if Attachment.where("claim_id"=>claim.id).size > 0 %>
              <!-- true -->
              <td style="color:blue; text-align: center"><a href="/attachment/<%= claim.id %>" ><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                <% else %>
                <td style=" text-align: center; color:red">X</td>
                <% end %>

                <% end %>
                <% end %>
              </tr>
            </table>
          </div>
        </div>


        <div class="col-md-4">
          <div class="panel panel-primary" >
            <div class="panel-heading">
              <h3 class="panel-title">Revisados/Concluidos</h3>
            </div>

            <table class="table table-striped table-hover" style="table-layout:fixed; border-collapse:collapse">
              <tr style="font-size;">
                <th style="height:10px; width:30%">Paciente</th>
                <th style="height:10px; width:25%">Seguro</th>
                <th style=" width:24%">Tipo</th>
                <th style=" width:7%"></th>
                <th style=" width:6%"></th>
                <th style=" width:8%"><i class="fa fa-paperclip" aria-hidden="true"></i></th>

              </tr>

              <% @claims.reverse.each do |claim| %>
              <% if @claim_follows.where("claim_id"=>claim.id).exists? == true && claim.claim_follow.insurance_read == true && claim.claim_follow.insurance_approved != nil %>
              <tr style="font-size:12px">
                <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px; width:100"><%= claim.patient_name %></td>
                <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.insurance_name %></td>
                <td style="overflow: hidden; text-overflow: ellipsis; max-height:15px;white-space: nowrap;  height:15px"><%= claim.claim_type %></td>
                <td>
                  <% if claim.claim_follow.insurance_approved == true %>
                  <span style="color:green"> <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i></span>
                  <% else %>
                  <span style="color:red"> <i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span>
                  <% end %>
                </td>
                <td style="text-align: left"><a href="/claims/<%= claim.id %>" ><i class="fa fa-search-plus" aria-hidden="true"></i></a></td>

                <% if Attachment.where("claim_id"=>claim.id).size > 0 %>
                <!-- true -->
                <td style="color:blue; text-align: center"><a href="/attachment/<%= claim.id %>" ><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                  <% else %>
                  <td style=" text-align: center; color:red">X</td>
                  <% end %>

                  <% end %>
                  <% end %>
                </tr>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
