<div class="page-header">
  <h1>
    Lista de Reclamos
    <!-- <a href="/claims/new" class="btn btn-md btn-success">Generar nuevo</a> -->
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">


    <table class="table table-striped table-hover">
      <tr>

        <th>Paciente</th>
        <th>Doctor</th>
        <th>Tipo</th>
        <th>Causa</th>
        <th>Folio</th>
        <th>Fecha de recibido</th>

        <th>Status</th>
        <th>Acción</th>
      </tr>

      <% @claims.reverse.each do |claim| %>
      <% if @claim_follows.where("claim_id"=>claim.id).exists? == true %>
      <tr>
        <td><%= claim.patient_name %></td>
        <td><%= claim.doctor_name %></td>
        <td><%= claim.claim_type %></td>
        <td><%= claim.attention_cause %></td>
          <td><%= claim.event_id %></td>
        <td><%= claim.claim_follow.created_at %></td>

        <% if claim.claim_follow.insurance_approved != nil %>
        <% if claim.claim_follow.insurance_approved == true%>
        <td  style="text-align: left"><span style="color:green"> Aprobado </span></td>
        <td style="text-align: left"><a href="/claims/<%= claim.id %>" class="btn btn-sm btn-primary" style="width:65px">Abrir</a></td>
        <%else %>
        <td  style="text-align: left"><span style="color:red">Rechazado </span></td>
        <td style="text-align: left"><a href="/claims/<%= claim.id %>" class="btn btn-sm btn-primary" style="width:65px">Abrir</a></td>
        <% end %>

        <% elsif claim.claim_follow.insurance_read == true %>
        <td  style="text-align: center"><span style="color:blue">   Proceso Iniciado </span></td>
        <td style="text-align: left"><a href="/claims/<%= claim.id %>" class="btn btn-sm btn-primary" style="width:65px">Abrir</a></td>
        <% elsif %>
        <td  style="text-align: center"><span style="color:red">  <i class="fa fa-bell-o" aria-hidden="true"></i> Revisión Pendiente </span></td>
        <td>
          <form action="/update_claim_follow/<%= claim.claim_follow.id %>" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="patient_request" name="patient_request" value="1" <%= "checked" if claim.claim_follow.patient_request %>>
            <input type="hidden" id="insurance_read" name="insurance_read" value="1" <%= "checked" if claim.claim_follow.insurance_read %>>
            <input type="hidden" id="claim_id" name="claim_id" placeholder="Claim" class="form-control" value="<%= claim.claim_follow.claim_id %>">
            <button class="btn btn-info">
              Iniciar proceso
            </button>

          </form>
        </td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
    </table>
  </div>
  </div>
</div>
