<!-- Validation failure messages -->
<% if @claim.errors.any? %>
<% @claim.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Informe Médico - Folio #<%= @claim.id %></h3>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">

      <form action="/update_claim/<%= @claim.id %>" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for doctor_id -->
        <div class="form-group">
          <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= @claim.doctor_id %>">
        </div>

        <!-- Label and input for patient_id -->
        <div class="form-group">
          <input type=hidden id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= @claim.patient_id %>">
        </div>

        <!-- Label and input for claim_type -->
        <div class="row">
          <div class="form-group col-md-5">

            <input list="tipo_reclamo" id="claim_type" name="claim_type" placeholder="Tipo de Informe*" class="form-control" value="<%= @claim.claim_type %>">
            <datalist class="" id="tipo_reclamo">
              <option value="Programación de cirugía"></option>
              <option value="Tratamiento médico"></option>
              <option value="Reembolso"></option>
            </datalist>
          </div>
        </div>

        <!-- Label and input for doctor_name -->
        <!-- <div class="form-group col-md-offset-2 col-md-5">
          <input type="text" id="doctor_name" name="doctor_name" placeholder="Doctor*" class="form-control" value="<%= @claim.doctor_name %>">
        </div> -->

        <!-- Label and input for insurance_name -->
        <div class="row">
        <div class="form-group col-md-5">
            <input type="text" id="insurance_name" name="insurance_name" placeholder="Nombre de Aseguradora*" class="form-control" value="<%= @claim.insurance_name %>">
        </div>
        </div>

        <!-- Label and input for insurance_id -->
        <div class="form-group">
                <input type="hidden" id="insurance_id" name="insurance_id" placeholder="Insurance" class="form-control" value="<%= @claim.insurance_id %>">
        </div>


        <!-- Panel de Ficha de Identificación -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ficha de Identificación</h3>
              </div>

              <div class="panel-body">


                <!-- Label and input for patient_name -->
                <div class="form-group col-md-12">
                  <label for="patient_name" class="control-label">
                    Nombre de Paciente*
                  </label>

                  <input type="text" id="patient_name" name="patient_name" placeholder="<%= @claim.patient.last_father%>" class="form-control" value="<%= @claim.patient.first_name %> <%= @claim.patient.last_father %> <%= @claim.patient.last_mother %>">
                </div>

                <!-- Label and input for gender -->
                <div class="form-group col-md-3">
                  <label for="gender" class="control-label">
                    Sexo:
                  </label>
                  <br>
                  <% if  @claim.gender == "f" %>
                  <input type="radio" id="gender" name="gender" value="M" > Masculino
                  <input type="radio" id="gender" name="gender" value="F" checked="checked"> Femenino

                  <% else %>
                  <input type="radio" id="gender" name="gender" value="M" checked="checked"> Masculino
                  <input type="radio" id="gender" name="gender" value="F"> Femenino
                  <% end %>

                  <div class="form-group">

                    <div class="col-sm-4">

                    </div>
                  </div>
                </div>

                <!-- Label and input for age -->
                <div class="form-group col-md-3">
                  <label for="age" class="control-label">
                    Edad
                  </label>
                  <input type="text" id="age" name="age" placeholder="Age" class="form-control" value="<%= @claim.age %>">
                </div>

                <!-- Label and input for civil_status -->
                <div class="form-group col-md-3">
                  <label for="civil_status" class="control-label">
                    Est-Civil
                  </label>

                  <input list="civil" id="civil_status"   name="civil_status" placeholder="" class="form-control" value="<%= @claim.civil_status %>">
                  <datalist class="" id="civil">
                    <option value="Soltero(a)"></option>
                    <option value="Casado(a)"></option>
                    <option value="Otro"></option>
                  </datalist>
                </div>

                <!-- Label and input for attention_cause -->
                <div class="form-group col-md-3">
                  <label for="attention_cause" class="control-label">
                    Causa de Atención
                  </label>

                  <input list="causa" id="attention_cause" name="attention_cause" placeholder="" class="form-control" value="<%= @claim.attention_cause %>">
                  <datalist class="" id="causa">
                    <option value="Prevención"></option>
                    <option value="Embarazo"></option>
                    <option value="Enfermedad"></option>
                    <option value="Accidente"></option>
                  </datalist>
                </div>

              </div>
            </div>

            <!-- Panel de Ficha de Historia Clínica -->
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><input type="checkbox" id="referral_yn" name="referral_yn" value="1" <%= "checked" if @claim.referral_yn %>>
                      <b>Referido por otro médico o unidad? (Si)</b></h3>
                    </div>
                    <div class="panel-body">

                      <!-- Label and input for referral_yn --> <!-- Label and input for referral_doctor -->
                      <div class="form-group col-md-4">
                        <label for="referral_doctor" class="control-label">
                          Nombre Doctor
                        </label>
                        <input type="text" id="referral_doctor" name="referral_doctor" placeholder="Nombre" class="form-control" value="<%= @claim.referral_doctor %>">
                      </div>

                      <!-- Label and input for referral_specialty -->
                      <div class="form-group col-md-4">
                        <label for="referral_specialty" class="control-label">
                          Especialidad
                        </label>

                        <input type="text" id="referral_specialty" name="referral_specialty" placeholder="Especialidad" class="form-control" value="<%= @claim.referral_specialty %>">
                      </div>

                      <!-- Label and input for referral_phone -->
                      <div class="form-group col-md-4">
                        <label for="referral_phone" class="control-label">
                          Telefono de referencia
                        </label>
                        <input type="text" id="referral_phone" name="referral_phone" placeholder="Telefono" class="form-control" value="<%= @claim.referral_phone %>">
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Panel de Ficha de Historia Clínica -->
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Historia Clínica</h3>
                    </div>
                    <div class="panel-body">
                      (Describa patologías y/o realización de cirugía y/o causa de hospitalización, así como tiempo de evolución)
                      <p> </p>
                      <!-- Label and input for clinical_summary -->
                      <div class="form-group">
                        <label for="clinical_summary" class="control-label">
                          Antecedentes
                        </label>

                        <input type="text" id="clinical_summary" name="clinical_summary" placeholder="Resumen" class="form-control" value="<%= @claim.clinical_summary %>">
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="clinical_summary" class="control-label">
                            Antecedentes Personales Patológicos (Fecha de Inicio):
                          </label>

                          <% if @pathologicals.count == 0 %>
                          <p> <font color="red"> No hay antecedentes patológicos registrados en el perfil del paciente</font></p>
                          <% else %>
                          <table class="table table-striped table-hover">
                            <tr>
                              <th>Enfermedad</th>
                              <th>Fecha de inicio</th>
                            </tr>
                            <% @pathologicals.each do |pathological| %>
                            <tr>
                              <td><%= pathological.disease %></td>
                              <td><%= pathological.start_date %></td>
                            </tr>
                            <% end %>
                            <% end%>
                          </table>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="clinical_summary" class="control-label">
                            Cirugías realizadas
                          </label>

                          <% if @surgicals.count == 0 %>
                          <p> <font color="red"> No hay cirugías registrados en el perfil del paciente</font></p>
                          <% else %>
                          <table class="table table-striped table-hover">
                            <tr>
                              <th>Cirugía</th>
                              <th>Fecha</th>
                            </tr>
                            <% @surgicals.each do |surgical| %>
                            <tr>
                              <td><%= surgical.name %></td>
                              <td><%= surgical.date %></td>
                            </tr>
                            <% end %>
                            <% end%>
                          </table>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-4">
                          <label for="clinical_summary" class="control-label">
                            Antecedentes Personales No Patológicos:
                          </label>

                          <% if @non_pathologicals.count == 0 %>
                          <p> <font color="red"> No hay antecedentes no-patológicos registrados en el perfil del paciente</font></p>
                          <% else %>
                          <table class="table table-striped table-hover">
                            <tr>
                              <th>Tipo</th>
                              <th>Cantidad</th>
                            </tr>
                            <% @non_pathologicals.each do |non_pathological| %>
                            <tr>
                              <td><%= non_pathological.drug_type %></td>
                              <td><%= non_pathological.quantity %></td>
                            </tr>
                            <% end %>
                            <% end%>
                          </table>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="clinical_summary" class="control-label">
                            Antecedentes Gineco-Obstétricos:
                          </label>

                          <% if @pregnancies.count == 0 %>
                          <p> <font color="red"> No hay registros en el perfil del paciente</font></p>
                          <% else %>
                          <% @pregnancies.each do |pregnancy| %>
                          <table class="table  table-hover">

                            <tr>
                              <td>FUM: </td>
                              <td> <%= pregnancy.fum %></td>
                            </tr>
                            <tr>
                              <td>Numero de Embarazo(s): </td>
                              <td> <%= pregnancy.number %></td>
                            </tr>
                            <tr>
                              <td>Aborto(s): </td>
                              <td> <%= pregnancy.abortion %></td>
                            </tr>
                            <tr>
                              <td>Cesárea(s): </td>
                              <td> <%= pregnancy.caesarean %></td>
                            </tr>
                            <tr>
                              <td>Parto(s): </td>
                              <td><%= pregnancy.normal %></td>
                            </tr>

                            <% end %>
                            <% end %>
                          </table>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="clinical_summary" class="control-label">
                            Antecedentes Perinatales:
                          </label>

                          <% if @non_pathologicals.count == 0 %>
                          <p> <font color="red"> No hay registros en el perfil del paciente</font></p>
                          <% else %>
                          <table class="table  table-hover">
                            <% @other_backgrounds.each do |other_background| %>

                            <tr>
                              <th>Perinatales: </th>
                              <td><%= other_background.perinatal %></td>
                            </tr>
                            <tr>
                              <th>Otros: </th>
                              <td><%= other_background.other %></td>
                            </tr>

                            <% end %>
                            <% end %>
                          </table>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>
              </div>

              <!-- Panel de Ficha de Historia Clínica -->
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Padecimiento Actual</h3>
                    </div>
                    <div class="panel-body">

                      <!-- Label and input for symptoms -->
                      <div class="form-group">
                        <label for="symptoms" class="control-label">
                          Indicar síntomas
                        </label>

                        <input type="text" id="symptoms" name="symptoms" placeholder="Síntomas" class="form-control" value="<%= @claim.symptoms %>">
                      </div>

                      <!-- Label and input for evolution -->
                      <div class="form-group">
                        <label for="evolution" class="control-label">
                          Favor de especificar evolución y estado actual del parecimiento:
                        </label>

                        <input type="text" id="evolution" name="evolution" placeholder="Evolución" class="form-control" value="<%= @claim.evolution %>">
                      </div>

                      <!-- Label and input for first_symptoms_date -->
                      <div class="row">

                        <div class="form-group col-md-4">
                          <label for="first_symptoms_date" class="control-label">
                            Fecha de primeros síntomas del padecimiento
                          </label>

                          <input type="date" id="first_symptoms_date" name="first_symptoms_date" placeholder="First symptoms date" class="form-control" value="<%= @claim.first_symptoms_date %>">
                        </div>


                        <!-- Label and input for first_consultation_date -->
                        <div class="form-group col-md-4">
                          <label for="first_consultation_date" class="control-label">
                            Fecha de primera consulta
                          </label>

                          <input type="date" id="first_consultation_date" name="first_consultation_date" placeholder="First consultation date" class="form-control" value="<%= @claim.first_consultation_date %>">
                        </div>

                        <!-- Label and input for diagnose_date -->
                        <div class="form-group col-md-4">
                          <label for="diagnose_date" class="control-label">
                            Fecha de diagnóstico de este padecimiento
                          </label>

                          <input type="date" id="diagnose_date" name="diagnose_date" placeholder="Diagnose date" class="form-control" value="<%= @claim.diagnose_date %>">
                        </div>
                      </div>

                      <!-- Label and input for definite_diagnose -->
                      <div class="row">
                        <div class="form-group col-md-8">
                          <label for="definite_diagnose" class="control-label">
                            DIAGNÓSTICO(S)
                          </label>

                          <input type="text" id="definite_diagnose" name="definite_diagnose" placeholder="Definite diagnose" class="form-control" value="<%= @claim.definite_diagnose %>">
                        </div>

                        <!-- Label and input for cie_10 -->
                        <div class="form-group col-md-4">
                          <label for="cie_10" class="control-label">
                            Cie 10
                          </label>

                          <input type="text" id="cie_10" name="cie_10" placeholder="Cie 10" class="form-control" value="<%= @claim.cie_10 %>">
                        </div>
                      </div>

                      <!-- Label and input for disease_cause -->
                      <div class="form-group">
                        <label for="disease_cause" class="control-label">
                          CAUSA / ETIOLOGÍA DEL PADECIMIENTO
                        </label>

                        <input type="text" id="disease_cause" name="disease_cause" placeholder="Causa" class="form-control" value="<%= @claim.disease_cause %>">
                      </div>

                      <!-- Label and input for disease_type -->
                      <div class="form-group">
                        <label for="disease_type" class="control-label">
                          Tipo de padecimiento:
                        </label>
                        <input type="radio" id="disease_type" name="disease_type" value="Congenito" > Congénito
                        <input type="radio" id="disease_type" name="disease_type" value="Adquirido" > Adquirido
                        <input type="radio" id="disease_type" name="disease_type" value="Agudo" > Agudo
                        <input type="radio" id="disease_type" name="disease_type" value="Cronico" > Crónico

                      </div>

                      <!-- Label and input for relation_other_disease_yn -->
                      <div class="row">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label for="relation_other_disease_yn" class="control-label">
                              Se ha relacionado con algún otro padecimiento, enfermedad o accidente: Si
                            </label>
                            <input type="checkbox" id="relation_other_disease_yn" name="relation_other_disease_yn" value="1" <%= "checked" if @claim.relation_other_disease_yn %>>
                            <input type="text" id="relation_other_disease" name="relation_other_disease" placeholder="¿Cuál?" class="form-control" value="<%= @claim.relation_other_disease %>">
                          </div>
                        </div>



                        <!-- Label and input for origin_primary_yn -->


                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label for="origin_primary_yn">
                              ¿El origen del padecimiento es primario? Si
                            </label>
                            <input type="checkbox" id="origin_primary_yn" name="origin_primary_yn" value="1" <%= "checked" if @claim.origin_primary_yn %>>
                            <br>
                            <input type="text" id="origin_primary_type" name="origin_primary_type" placeholder="¿Cuál?" class="form-control" value="<%= @claim.origin_primary_type %>">
                          </div>
                        </div>
                      </div>

                      <!-- Label and input for disability_caused_yn -->
                      <div class="row">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label for="disability_caused_yn">
                              El padecimiento ocasionó u ocasionará incapacidad? Si
                            </label>
                            <input type="checkbox" id="disability_caused_yn" name="disability_caused_yn" value="1" <%= "checked" if @claim.disability_caused_yn %>>
                            <br>
                            <input type="radio" id="disability_caused_type" name="disability_caused_type" value="Parcial" > Parcial
                            <input type="radio" id="disability_caused_type" name="disability_caused_type" value="Total"> Total
                            <input type="radio" id="disability_caused_type" name="disability_caused_type" value="NA"> NA
                          </div>
                        </div>

                        <!-- Label and input for disability_caused_from -->
                        <div class="form-group col-md-3">
                          <label for="disability_caused_from" class="control-label">
                            Desde
                          </label>
                          <input type="date" id="disability_caused_from" name="disability_caused_from" placeholder="Disability caused from" class="form-control" value="<%= @claim.disability_caused_from %>">
                        </div>

                        <!-- Label and input for disability_caused_until -->
                        <div class="form-group col-md-3">
                          <label for="disability_caused_until" class="control-label">
                            Hasta
                          </label>

                          <input type="date" id="disability_caused_until" name="disability_caused_until" placeholder="Disability caused until" class="form-control" value="<%= @claim.disability_caused_until %>">
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Exploración Física y Resultados de Estudios Realizados</h3>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="form-group col-md-4">
                              <label for="waiste_size" class="control-label">
                                Talla (mts):
                              </label>

                              <input type="decimal" id="waiste_size" name="waiste_size" placeholder="mts" class="form-control" value="<%= @claim.waiste_size %>">
                            </div>

                            <!-- Label and input for weight -->
                            <div class="form-group col-md-4">
                              <label for="weight" class="control-label">
                                Peso (kg):
                              </label>

                              <input type="decimal" id="weight" name="weight" placeholder="kg" class="form-control" value="<%= @claim.weight %>">
                            </div>

                            <!-- Label and input for pressure -->
                            <div class="form-group col-md-4">
                              <label for="pressure" class="control-label">
                                Presión (mm/HG)
                              </label>

                              <input type="float" id="pressure" name="pressure" placeholder="mm/HG" class="form-control" value="<%= @claim.pressure %>">
                            </div>
                          </div>

                          <!-- Label and input for physical_exploration_details -->
                          <div class="form-group">
                            <label for="physical_exploration_details" class="control-label">
                              Señale los datos relevantes de la exploración física:                              </label>

                              <input type="text" id="physical_exploration_details" name="physical_exploration_details" placeholder="" class="form-control" value="<%= @claim.physical_exploration_details %>">
                            </div>

                            <!-- Label and input for lab_tests -->
                            <div class="form-group">
                              <label for="lab_tests" class="control-label">
                                Examenes realizados
                              </label>

                              <input type="text" id="lab_tests" name="lab_tests" placeholder="" class="form-control" value="<%= @claim.lab_tests %>">
                            </div>



                            <!-- Label and input for lab_studies_results -->
                            <div class="form-group">
                              <label for="lab_studies_results" class="control-label">
                                Señale los resultados de exámenes de laboratorio, gabinete, imagenología u otros, que sustenten el diagnóstico
                              </label>

                              <input type="text" id="lab_studies_results" name="lab_studies_results" placeholder="" class="form-control" value="<%= @claim.lab_studies_results %>">
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-md-12">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">Tratamiento</h3>
                              </div>
                              <div class="panel-body">

                                <!-- Label and input for tx_descritption -->
                                <div class="form-group">
                                  <label for="tx_descritption" class="control-label">
                                    Descripción del tratamiento:
                                  </label>

                                  <input type="text" id="tx_descritption" name="tx_descritption" placeholder="" class="form-control" value="<%= @claim.tx_descritption %>">
                                </div>

                                <div class="row">

                                  <!-- Label and input for tx_start -->
                                  <div class="form-group col-md-6">
                                    <label for="tx_start" class="control-label">
                                      En caso de Tratamiento Médico/Quirúrgico, favor de indicar fecha de inicio
                                    </label>

                                    <input type="date" id="tx_start" name="tx_start" placeholder="Tx start" class="form-control" value="<%= @claim.tx_start %>">
                                  </div>

                                  <!-- Label and input for cpt_4 -->
                                  <div class="form-group col-md-6">
                                    <label for="cpt_4" class="control-label">
                                      Código CPT-4
                                    </label>

                                    <input type="text" id="cpt_4" name="cpt_4" placeholder="" class="form-control" value="<%= @claim.cpt_4 %>">
                                  </div>
                                </div>


                                <!-- Label and input for procedure_mat_complications_yn -->
                                <div class="form-group">
                                  <label for="procedure_mat_complications_yn">
                                    ¿Hubo complicaciones?  Si
                                  </label>
                                  <input type="checkbox" id="procedure_mat_complications_yn" name="procedure_mat_complications_yn" value="1" <%= "checked" if @claim.procedure_mat_complications_yn %>>

                                  <input type="text" id="procedure_mat_complications_describe" name="procedure_mat_complications_describe" placeholder="Descripción de las complicaciones" class="form-control" value="<%= @claim.procedure_mat_complications_describe %>">
                                </div>
                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-12">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">En caso de Hospitalización</h3>
                                  </div>
                                  <div class="panel-body">

                                    <div class="row">

                                      <!-- Label and input for hospital_name -->
                                      <div class="form-group col-md-6">
                                        <label for="hospital_name" class="control-label">
                                          Nombre del Hospital:
                                        </label>

                                        <input type="text" id="hospital_name" name="hospital_name" placeholder="" class="form-control" value="<%= @claim.hospital_name %>">
                                      </div>

                                      <!-- Label and input for hospital_city -->
                                      <div class="form-group col-md-6">
                                        <label for="hospital_city" class="control-label">
                                          Ciudad:
                                        </label>

                                        <input type="text" id="hospital_city" name="hospital_city" placeholder="" class="form-control" value="<%= @claim.hospital_city %>">
                                      </div>
                                    </div>

                                    <div class="row">

                                      <!-- Label and input for hospital_stay_type -->
                                      <div class="form-group col-md-4">
                                        <label for="hospital_stay_type" class="control-label">
                                          Hospital stay type
                                        </label>
                                        <input list="tipo_hospitalizacion" id="hospital_stay_type" name="hospital_stay_type" placeholder="" class="form-control" value="<%= @claim.hospital_stay_type %>">
                                        <datalist class="" id="tipo_hospitalizacion">
                                          <option value="Urgencia"></option>
                                          <option value="Hospitalaria"></option>
                                          <option value="Corta Estancia/Ambulatoria"></option>
                                        </datalist>
                                      </div>

                                      <!-- Label and input for hospital_admission_date -->
                                      <div class="form-group col-md-4">
                                        <label for="hospital_admission_date" class="control-label">
                                          Fecha de ingreso
                                        </label>

                                        <input type="date" id="hospital_admission_date" name="hospital_admission_date" placeholder="Hospital admission date" class="form-control" value="<%= @claim.hospital_admission_date %>">
                                      </div>
                                      <!-- Label and input for hospital_discharge_date -->
                                      <div class="form-group col-md-4">
                                        <label for="hospital_discharge_date" class="control-label">
                                          Fecha de egreso
                                        </label>

                                        <input type="date" id="hospital_discharge_date" name="hospital_discharge_date" placeholder="Hospital discharge date" class="form-control" value="<%= @claim.hospital_discharge_date %>">
                                      </div>
                                    </div>
                                  </div>
                                </div>


                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title">Datos Generales del Médico Tratante</h3>
                                      </div>
                                      <div class="panel-body">

                                        <!-- Label and input for doctor_name -->
                                        <div class="form-group col-md-6">
                                          <label for="doctor_name" class="control-label">
                                            Nombre del Médico
                                          </label>
                                          <input type="text" id="doctor_name" name="doctor_name" placeholder="" class="form-control" value="<%= @claim.doctor_name %>">
                                        </div>

                                        <!-- Label and input for doctor_specialty -->
                                        <div class="form-group col-md-6">
                                          <label for="doctor_specialty" class="control-label">
                                            Especialidad:
                                          </label>

                                          <input type="text" id="doctor_specialty" name="doctor_specialty" placeholder="" class="form-control" value="<%= @claim.doctor_specialty %>">
                                        </div>


                                        <!-- Label and input for doctor_cedula_pro -->
                                        <div class="form-group col-md-6">
                                          <label for="doctor_cedula_pro" class="control-label">
                                            Cédula Profesional
                                          </label>

                                          <input type="text" id="doctor_cedula_pro" name="doctor_cedula_pro" placeholder="" class="form-control" value="<%= @claim.doctor_cedula_pro %>">
                                        </div>

                                        <!-- Label and input for doctor_cedula_esp -->
                                        <div class="form-group col-md-6">
                                          <label for="doctor_cedula_esp" class="control-label">
                                            Cédula Especialización
                                          </label>

                                          <input type="text" id="doctor_cedula_esp" name="doctor_cedula_esp" placeholder="" class="form-control" value="<%= @claim.doctor_cedula_esp %>">
                                        </div>


                                        <!-- Label and input for doctor_phone -->
                                        <div class="form-group col-md-4">
                                          <label for="doctor_phone" class="control-label">
                                            Teléfono
                                          </label>

                                          <input type="text" id="doctor_phone" name="doctor_phone" placeholder="" class="form-control" value="<%= @claim.doctor_phone %>">
                                        </div>

                                        <!-- Label and input for doctor_email -->
                                        <div class="form-group col-md-4">
                                          <label for="doctor_email" class="control-label">
                                            E-mail
                                          </label>

                                          <input type="text" id="doctor_email" name="doctor_email" placeholder="@" class="form-control" value="<%= @claim.doctor_email %>">
                                        </div>
                                        <!-- Label and input for doctor_rfc -->
                                        <div class="form-group col-md-4">
                                          <label for="doctor_rfc" class="control-label">
                                            RFC
                                          </label>

                                          <input type="text" id="doctor_rfc" name="doctor_rfc" placeholder="" class="form-control" value="<%= @claim.doctor_rfc %>">
                                        </div>

                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h3 class="panel-title">Programación de Cirugía</h3>
                                          </div>
                                          <div class="panel-body">

                                            <!-- Label and input for agreement_ins_yn -->
                                            <div class="form control">
                                              <label for="agreement_ins_yn">
                                                Tiene convenio con la aseguradora: Si
                                              </label>
                                              <input type="checkbox" id="agreement_ins_yn" name="agreement_ins_yn" value="1" <%= "checked" if @claim.agreement_ins_yn %>>
                                              <br>En caso de haber contestado NO a la respuesta anterior: Acepto los tabuladores en el entendido que relevo de cualquier pago
                                              complementario por este padecimiento a la Compañía de Seguros y al paciente.
                                              <br>
                                              <br>En caso de no aceptar tabulador de la aseguradora especiﬁcar presupuesto de honorarios por tratamiento médico/quirúrgico.
                                            </div>

                                            <!-- Label and input for budget_surgeon -->
                                            <div class="form-group col-md-4">
                                              <label for="budget_surgeon" class="control-label">
                                                Cirujano $
                                              </label>

                                              <input type="number" id="budget_surgeon" name="budget_surgeon" placeholder="$" class="form-control" value="<%= @claim.budget_surgeon %>">
                                            </div>

                                            <!-- Label and input for budget_assistants -->
                                            <div class="form-group col-md-4">
                                              <label for="budget_assistants" class="control-label">
                                                Ayudante $
                                              </label>

                                              <input type="number" id="budget_assistants" name="budget_assistants" placeholder="$" class="form-control" value="<%= @claim.budget_assistants %>">
                                            </div>

                                            <!-- Label and input for budget_anesthesiologist -->
                                            <div class="form-group col-md-4">
                                              <label for="budget_anesthesiologist" class="control-label">
                                                Anestesista $
                                              </label>

                                              <input type="number" id="budget_anesthesiologist" name="budget_anesthesiologist" placeholder="$" class="form-control" value="<%= @claim.budget_anesthesiologist %>">
                                            </div>



                                            <!-- Label and input for sugery_date -->
                                            <div class="form-group col-md-4">
                                              <label for="sugery_date" class="control-label">
                                                Fecha exacta de la cirugía
                                              </label>

                                              <input type="text" id="sugery_date" name="sugery_date" placeholder="Sugery date" class="form-control" value="<%= @claim.sugery_date %>">
                                            </div>

                                            <!-- Label and input for hospital_surgery_name -->
                                            <div class="form-group col-md-4">
                                              <label for="hospital_surgery_name" class="control-label">
                                                Hospital dónde se practicará la cirugía
                                              </label>
                                              <input type="text" id="hospital_surgery_name" name="hospital_surgery_name" placeholder="Hospital surgery name" class="form-control" value="<%= @claim.hospital_surgery_name %>">
                                            </div>

                                            <!-- Label and input for hospital_entity -->
                                            <div class="form-group col-md-4">
                                              <label for="hospital_entity" class="control-label">
                                                Ubicación del hospital
                                              </label>

                                              <input type="text" id="hospital_entity" name="hospital_entity" placeholder="Hospital entity" class="form-control" value="<%= @claim.hospital_entity %>">
                                            </div>


                                            Nota: Como médico tratante, autorizo a los hospitales donde fue internado el paciente, a que proporcione a <%= @claim.insurance_name%> todos
                                            los informes que se reﬁeren a la salud del mismo, inclusive todos los datos de los padecimientos anteriores. Asimismo, relevo a
                                            las Instituciones o personas involucradas, del secreto profesional y de cualquier responsabilidad, y hago constar que la inexacta o
                                            falsa declaración en el presente informe médico puede invalidar toda responsabilidad de la Aseguradora hacia con el Asegurado.
                                            La información asentada en este documento es proporcionada conforme a la evaluación médica que he brindado al paciente y
                                            conforme al conocimiento y los estudios médicos que le he realizado o solicitado bajo mi responsabilidad, y asimismo por las
                                            referencias del propio paciente o de sus familiares, la cual será tratada conforme al Aviso de Privacidad de <%= @claim.insurance_name%> con la
                                            que el “PACIENTE-ASEGURADO” tiene celebrado el contrato. Se le informa que la inexacta o falsa declaración proporcionada en
                                            este formato, releva de toda Responsabilidad a <%= @claim.insurance_name%>. El llenado de este formato no obliga a <%= @claim.insurance_name%>, a asumir la
                                            obligación de realizar pagos de gastos improcedentes.
                                            <br>
                                            <br>
                                            Como Médico tratante me comprometo a hacer del conocimiento a de <%= @claim.insurance_name%>, de todos los informes que se refieran a la salud del paciente en caso de requerirlos.
                                            <br>
                                            <br>


                                            <!-- Label and input for doctor_signature_place -->
                                            <div class="form-group col-md-3">
                                              <label for="doctor_signature_place" class="control-label">
                                                Lugar
                                              </label>

                                              <input type="text" id="doctor_signature_place" name="doctor_signature_place" placeholder="Doctor signature place" class="form-control" value="<%= @claim.doctor_signature_place %>">
                                            </div>

                                            <!-- Label and input for doctor_signature_date -->
                                            <div class="form-group col-md-3">
                                              <label for="doctor_signature_date" class="control-label">
                                                Fecha
                                              </label>

                                              <input type="date" id="doctor_signature_date" name="doctor_signature_date" placeholder="México D.F." class="form-control" value="<%= Date.today %>">
                                            </div>

                                            <!-- Label and input for doctor_signature -->
                                            <div class="form-group col-md-6">
                                              <label for="doctor_signature" class="control-label">
                                                Firma del Médico Tratante
                                              </label>

                                              <input type="text" id="doctor_signature" name="doctor_signature" placeholder="" class="form-control" value="<%= @claim.doctor_signature %>">
                                            </div>
                                            </div>
                                            </div>




                                            <button class="btn btn-warning">
                                              Actualizar Informe
                                            </button>

                                            <a href="/claims/<%= @claim.id %>">Cancelar</a>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
