

<div class="container">
<div class="page-header">
  <h3 >Informe Médico #<%= @claim.id %></h3>
</div>

<div class="btn-group btn-group-justified">
  <%= link_to "Regresar", :back, class: "btn btn btn-primary" %>

  <a href="/claims/<%= @claim.id %>/edit" class="btn btn-info">
    Editar
  </a>
  <a href="/delete_claim/<%= @claim.id %>" class="btn btn-warning" rel="nofollow">
    Eliminar
  </a>
</div>
<br>
  <div class="row">
    <div class="col-md-12 mb-2">
      <dl class="dl-horizontal">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">

              <div class="panel-title allianz-label">
                <span style="text-align:left">Tipo de Informe:
                <%= @claim.claim_type %>
                  <span style="float:right; margin-right:10px; font-size:30px"> <%= @claim.insurance_name %></span></span>
              </div>
              <br>
              <div class="allianz-title">
                <p>Instrucciones</p>
              </div>

              <div class="panel-body allianz-text">
                <ol>
                  <li><span>Este formato deberá ser llenado y firmado por el Médico Tratante.</span></li>
                  <li><span>Es necesario llenar el formato en su totalidad y proporcionar información completa y detallada.</span></li>
                  <li><span>Por el hecho de proporcionar este formato, la institución no queda obligada a admitir la validez de la reclamación ni a renunciar a los derechos que se reserva conforme a la póliza.</span></li>
                    <li><span>Una vez asentada la información en éste documento, no será válido ningún cambio posterior, por esa razón, la información debe ser veraz y fidedigna.</span></li>
                  </ol>
                </div>

                <div class="allianz-title">
                  Ficha de Identificación
                </div>

                <div class="panel-body allianz-text">

                  <dt>Nombre del Paciente</dt>
                  <dd><%= @claim.patient_name %></dd>

                  <dt>Edad</dt>
                  <dd><%= @claim.age %></dd>

                  <dt>Sexo</dt>
                  <dd><%= @claim.gender %></dd>

                  <dt>Estado Civil</dt>
                  <dd><%= @claim.civil_status %></dd>

                  <dt>Causa de Atención</dt>
                  <dd><%= @claim.attention_cause %></dd>

                  <dt>Referido por otro médico o unidad:</dt>
                  <dd><% if @claim.referral_yn == true %>
                    Si
                    <% else %>
                    No
                    <% end %>

                  </dd>

                  <dt>Referral doctor</dt>
                  <dd><%= @claim.referral_doctor %></dd>

                </div>

                <div class="allianz-title">
                  Historia Clínica
                </div>

                <p>(Describa patologías y/o realización de cirugía y/o causa de hospitalización, así como tiempo de evolución)</p>
                <div class=" panel-body panel-body">

                  <div class="allianz-campo">
                    <span class="allianz-label"> Antecedentes Heredo-Familiares: </span>
                    <span class="allianz-text">  <%= @claim.clinical_summary %></span>
                  </div>

                  <div class="allianz-campo">
                    <span class="allianz-label">Antecedentes Personales Patológicos (Fecha de Inicio): </span>
                    <span class="allianz-text">
                      <% if @pathologicals.count == 0 %>
                      <font color="red"> No hay antecedentes patológicos registrados en el perfil del paciente</font></p>
                      <% else %>
                      <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                          <table class="table table-striped allianz-text">
                            <tr>
                              <th>Enfermedad</th>
                              <th>Fecha de inicio</th>
                            </tr>
                            <% @pathologicals.each do |pathological| %>
                            <tr>
                              <td><%= pathological.disease %></td>
                              <td><%= pathological.start_date %></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <% end %>
                      <% end%>
                    </span>

                  </div>

                  <div class="allianz-campo">
                    <span class="allianz-label">Cirugías realizadas:</span>
                    <span class="allianz-text">
                      <% if @surgicals.count == 0 %>
                      <font color="red"> No hay cirugías registrados en el perfil del paciente</font>
                      <% else %>
                      <% i = 0 %>
                      <% @surgicals.each do |surgical| %>
                      <% i += 1 %>
                      <%= surgical.name  + " [" + surgical.date.to_s + "]" %>
                      <%= ", " unless i == @surgicals.length %>
                      <% end %>
                      <% end%></span>
                    </div>

                    <div class="allianz-campo">
                      <div class="allianz-label">
                        Antecedentes Personales No Patológicos:
                      </div>


                      <span class="allianz-text">
                        <% if @non_pathologicals.count == 0 %>
                        <font color="red"> No hay antecedentes no-patológicos registrados en el perfil del paciente</font>
                        <% else %>
                        <div class="col-md-offset-1 col-md-10">
                          <table class="table table-striped table-hover">
                            <tr>
                              <th>Tipo</th>
                              <th>Cantidad</th>
                            </tr>
                            <% @non_pathologicals.each do |non_pathological| %>
                            <tr>
                              <td><%= non_pathological.drug_type %></td>
                              <td><%= non_pathological.quantity %></td>
                            </tr>
                            </div>
                            <% end %>
                            <% end%>
                          </table>
                        </span>

                    </div>

                    <div class="allianz-campo">
                      <div class="allianz-label">
                        Antecedentes Gineco-Obstétricos:
                      </div>
                      <div class="allianz-text">
                        <% if @pregnancies.count == 0 %>
                        <font color="red"> No hay registros en el perfil del paciente</font>
                        <% else %>
                        FUM:<u><%=@pregnancies.first.fum%>_____</u>.  Numero de Embarazo(s):<u>__ <%=@pregnancies.first.number  %>_____</u>.  Aborto(s): <u>__<%= @pregnancies.first.abortion %>__</u>.   Cesárea(s):<u>__<%= @pregnancies.first.caesarean %>__</u>.    Parto(s): <u>__<%= @pregnancies.first.normal %>__</u>
                        <% end %>
                      </table>
                    </div>
                  </div>

                  <div class="allianz-campo">
                    <span class="allianz-label">
                      Antecedentes Perinatales:
                    </span>
                    <span class="allianz-text">
                      <% if @non_pathologicals.count == 0 %>
                      <font color="red"> No hay registros en el perfil del paciente</font>
                      <% else %>

                      <% @other_backgrounds.each do |other_background| %>
                      <%= other_background.perinatal %></span>
                      <br>
                      <span class="allianz-text">Otros: <%= other_background.other %>

                        <% end %>
                        <% end %>
                      </span>
                    </div>
                  </div>





                <div class="allianz-title">
                  Padecimiento Actual
                </div>
                <div class="panel-body allianz-text">
                  <dt>Symptoms</dt>
                  <dd><%= @claim.symptoms %></dd>

                  <dt>First symptoms date</dt>
                  <dd><%= @claim.first_symptoms_date %></dd>

                  <dt>First consultation date</dt>
                  <dd><%= @claim.first_consultation_date %></dd>

                  <dt>Evolution</dt>
                  <dd><%= @claim.evolution %></dd>
                  <dt>Definite diagnose</dt>
                  <dd><%= @claim.definite_diagnose %></dd>
                  <dt>Cie 10</dt>
                  <dd><%= @claim.cie_10 %></dd>
                  <dt>Disease cause</dt>
                  <dd><%= @claim.disease_cause %></dd>
                  <dt>Disease type</dt>
                  <dd><%= @claim.disease_type %></dd>
                  <dt>Relation other disease yn</dt>
                  <dd><%= @claim.relation_other_disease_yn %></dd>
                  <dt>Relation other disease</dt>
                  <dd><%= @claim.relation_other_disease %></dd>
                  <dt>Origin primary yn</dt>
                  <dd><%= @claim.origin_primary_yn %></dd>
                  <dt>Origin primary type</dt>
                  <dd><%= @claim.origin_primary_type %></dd>
                  <dt>Disability caused yn</dt>
                  <dd><%= @claim.disability_caused_yn %></dd>
                  <dt>Disability caused type</dt>
                  <dd><%= @claim.disability_caused_type %></dd>
                  <dt>Disability caused from</dt>
                  <dd><%= @claim.disability_caused_from %></dd>
                  <dt>Disability caused until</dt>
                  <dd><%= @claim.disability_caused_until %></dd>
                  <dt>Lab tests</dt>
                  <dd><%= @claim.lab_tests %></dd>
                  <dt>Waiste size</dt>
                  <dd><%= @claim.waiste_size %></dd>
                  <dt>Weight</dt>
                  <dd><%= @claim.weight %></dd>
                  <dt>Pressure</dt>
                  <dd><%= @claim.pressure %></dd>
                  <dt>Physical exploration details</dt>
                  <dd><%= @claim.physical_exploration_details %></dd>
                  <dt>Lab studies results</dt>
                  <dd><%= @claim.lab_studies_results %></dd>
                  <dt>Form accountable name</dt>
                  <dd><%= @claim.form_accountable_name %></dd>
                  <dt>Form accountable address</dt>
                  <dd><%= @claim.form_accountable_address %></dd>


                </div>

                <div class="allianz-title">
                  Tratamiento
                </div>
                <div class="panel-body allianz-text">
                  <dt>Tx descritption</dt>
                  <dd><%= @claim.tx_descritption %></dd>
                  <dt>Tx start</dt>
                  <dd><%= @claim.tx_start %></dd>
                  <dt>Cpt 4</dt>
                  <dd><%= @claim.cpt_4 %></dd>
                  <dt>Procedure mat complications yn</dt>
                  <dd><%= @claim.procedure_mat_complications_yn %></dd>
                  <dt>Procedure mat complications describe</dt>
                  <dd><%= @claim.procedure_mat_complications_describe %></dd>
                </div>

                <div class="allianz-title">
                  En caso de Hospitalización
                </div>
                <div class="panel-body allianz-text">
                  <dt>Hospital name</dt>
                  <dd><%= @claim.hospital_name %></dd>
                  <dt>Hospital city</dt>
                  <dd><%= @claim.hospital_city %></dd>
                  <dt>Hospital stay type</dt>
                  <dd><%= @claim.hospital_stay_type %></dd>
                  <dt>Hospital admission date</dt>
                  <dd><%= @claim.hospital_admission_date %></dd>
                  <dt>Discharge date</dt>
                  <dd><%= @claim.discharge_date %></dd>
                </div>

                <div class="allianz-title">
                  Datos Generales del Médico Tratante
                </div>
                <div class="panel-body">
                  <dt>Doctor name</dt>
                  <dd><%= @claim.doctor_name %></dd>
                  <dt>Doctor specialty</dt>
                  <dd><%= @claim.doctor_specialty %></dd>
                  <dt>Doctor cedula pro</dt>
                  <dd><%= @claim.doctor_cedula_pro %></dd>
                  <dt>Doctor cedula esp</dt>
                  <dd><%= @claim.doctor_cedula_esp %></dd>
                  <dt>Doctor rfc</dt>
                  <dd><%= @claim.doctor_rfc %></dd>
                  <dt>Doctor phone</dt>
                  <dd><%= @claim.doctor_phone %></dd>
                  <dt>Doctor email</dt>
                  <dd><%= @claim.doctor_email %></dd>
                </div>

                <div class="allianz-title">
                  Programación de Cirugía
                </div>
                <div class="panel-body">
                  <dt>Agreement ins yn</dt>
                  <dd><%= @claim.agreement_ins_yn %></dd>
                  <dt>Budget surgeon</dt>
                  <dd><%= @claim.budget_surgeon %></dd>
                  <dt>Budget assistants</dt>
                  <dd><%= @claim.budget_assistants %></dd>
                  <dt>Budget anesthesiologist</dt>
                  <dd><%= @claim.budget_anesthesiologist %></dd>
                  <dt>Hospital surgery name</dt>
                  <dd><%= @claim.hospital_surgery_name %></dd>
                  <dt>Hospital entity</dt>
                  <dd><%= @claim.hospital_entity %></dd>
                  <dt>Sugery date</dt>
                  <dd><%= @claim.sugery_date %></dd>
                  <dt>Doctor signature</dt>
                  <dd><%= @claim.doctor_signature %></dd>
                  <dt>Doctor signature place</dt>
                  <dd><%= @claim.doctor_signature_place %></dd>
                  <dt>Doctor signature date</dt>
                  <dd><%= @claim.doctor_signature_date %></dd>
                </div>



              </dl>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--

<dt>Referral specialty</dt>
<dd><%= @claim.referral_specialty %></dd>

<dt>Referral phone</dt>
<dd><%= @claim.referral_phone %></dd>

<dt>Purpose</dt>
<dd><%= @claim.purpose %></dd>

<dt>Data signature</dt>
<dd><%= @claim.data_signature %></dd>

<dt>Diagnose date</dt>
<dd><%= @claim.diagnose_date %></dd>

<dt>Medicine name</dt>
<dd><%= @claim.medicine_name %></dd>

<dt>Medicine dose</dt>
<dd><%= @claim.medicine_dose %></dd>

<dt>Medicine duration number</dt>
<dd><%= @claim.medicine_duration_number %></dd>

<dt>Medicine duration type</dt>
<dd><%= @claim.medicine_duration_type %></dd>

<dt>Tx other name</dt>
<dd><%= @claim.tx_other_name %></dd>

<dt>Tx other justification</dt>
<dd><%= @claim.tx_other_justification %></dd>

<dt>Tx other days</dt>
<dd><%= @claim.tx_other_days %></dd>

<dt>Tx other sessions</dt>
<dd><%= @claim.tx_other_sessions %></dd>

<dt>Chemo type</dt>
<dd><%= @claim.chemo_type %></dd>

<dt>Chemo sessions</dt>
<dd><%= @claim.chemo_sessions %></dd>

<dt>Chemo dose</dt>
<dd><%= @claim.chemo_dose %></dd>

<dt>Chemo intervals</dt>
<dd><%= @claim.chemo_intervals %></dd>

<dt>Physical rehab days</dt>
<dd><%= @claim.physical_rehab_days %></dd>

<dt>Physical rehab sessions</dt>
<dd><%= @claim.physical_rehab_sessions %></dd>

<dt>Nursing days</dt>
<dd><%= @claim.nursing_days %></dd>

<dt>Nursing hpd</dt>
<dd><%= @claim.nursing_hpd %></dd>

<dt>Nursing morning</dt>
<dd><%= @claim.nursing_morning %></dd>

<dt>Nursing evening</dt>
<dd><%= @claim.nursing_evening %></dd>

<dt>Nursing night</dt>
<dd><%= @claim.nursing_night %></dd>

<dt>Nursing 24</dt>
<dd><%= @claim.nursing_24 %></dd>

<dt>Tx observations</dt>
<dd><%= @claim.tx_observations %></dd>

<dt>Technique description</dt>
<dd><%= @claim.technique_description %></dd>

<dt>Special equipment yn</dt>
<dd><%= @claim.special_equipment_yn %></dd>

<dt>Special equipment detail</dt>
<dd><%= @claim.special_equipment_detail %></dd>

<dt>Procedure mat yn</dt>
<dd><%= @claim.procedure_mat_yn %></dd>

<dt>Procedure mat detail</dt>
<dd><%= @claim.procedure_mat_detail %></dd>



<dt>List other doctors</dt>
<dd><%= @claim.list_other_doctors %></dd>

<dt>Claim staff</dt>
<dd><%= @claim.claim_staff_id %></dd>

<dt>Inter consultation name</dt>
<dd><%= @claim.inter_consultation_name %></dd>

<dt>Inter consultation specialty</dt>
<dd><%= @claim.inter_consultation_specialty %></dd>

<dt>Inter consultation network yn</dt>
<dd><%= @claim.inter_consultation_network_yn %></dd>

<dt>Inter consultation dates</dt>
<dd><%= @claim.inter_consultation_dates %></dd>

<dt>Inter consultation description</dt>
<dd><%= @claim.inter_consultation_description %></dd>

<dt>Other tx other doctor yn</dt>
<dd><%= @claim.other_tx_other_doctor_yn %></dd>

<dt>Other tx other doctor name</dt>
<dd><%= @claim.other_tx_other_doctor_name %></dd>

<dt>Other tx other doctor specialty</dt>
<dd><%= @claim.other_tx_other_doctor_specialty %></dd>

<dt>Patient current status</dt>
<dd><%= @claim.patient_current_status %></dd>

<dt>Tx continues yn</dt>
<dd><%= @claim.tx_continues_yn %></dd>

<dt>Tx continues type</dt>
<dd><%= @claim.tx_continues_type %></dd>

<dt>Tx continues duration</dt>
<dd><%= @claim.tx_continues_duration %></dd>

<dt>Tx continues doctors</dt>
<dd><%= @claim.tx_continues_doctors %></dd>

<dt>Accident description</dt>
<dd><%= @claim.accident_description %></dd>



<dt>Surgery performed</dt>
<dd><%= @claim.surgery_performed %></dd>

<dt>Findings</dt>
<dd><%= @claim.findings %></dd>



<dt>Surgery admission date</dt>
<dd><%= @claim.surgery_admission_date %></dd>

<dt>Hospital discharge date</dt>
<dd><%= @claim.hospital_discharge_date %></dd>

<dt>Biopsy yn</dt>
<dd><%= @claim.biopsy_yn %></dd>

<dt>Doctor address</dt>
<dd><%= @claim.doctor_address %></dd>

<dt>Doctor supplier number</dt>
<dd><%= @claim.doctor_supplier_number %></dd>

<dt>Identification file</dt>
<dd><%= @claim.identification_file %></dd>

<dt>Health summary</dt>
<dd><%= @claim.health_summary_id %></dd>



<dt>Insurance</dt>
<dd><%= @claim.insurance_id %></dd>


<dt>Medicine quantity</dt>
<dd><%= @claim.medicine_quantity %></dd>

<dt>Event</dt>
<dd><%= @claim.event_id %></dd> -->
