<div class="page-header">
  <h3>Claim #<%= @claim.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Doctor</dt>
      <dd><%= @claim.doctor_id %></dd>

      <dt>Patient</dt>
      <dd><%= @claim.patient_id %></dd>

      <dt>Claim type</dt>
      <dd><%= @claim.claim_type %></dd>

      <dt>Civil status</dt>
      <dd><%= @claim.civil_status %></dd>

      <dt>Attention cause</dt>
      <dd><%= @claim.attention_cause %></dd>

      <dt>Patient name</dt>
      <dd><%= @claim.patient_name %></dd>

      <dt>Doctor name</dt>
      <dd><%= @claim.doctor_name %></dd>

      <dt>Age</dt>
      <dd><%= @claim.age %></dd>

      <dt>Gender</dt>
      <dd><%= @claim.gender %></dd>

      <dt>Clinical summary</dt>
      <dd><%= @claim.clinical_summary %></dd>

      <dt>Referral yn</dt>
      <dd><%= @claim.referral_yn %></dd>

      <dt>Referral doctor</dt>
      <dd><%= @claim.referral_doctor %></dd>

      <dt>Referral specialty</dt>
      <dd><%= @claim.referral_specialty %></dd>

      <dt>Referral phone</dt>
      <dd><%= @claim.referral_phone %></dd>

      <dt>Symptoms</dt>
      <dd><%= @claim.symptoms %></dd>

      <dt>First symptoms date</dt>
      <dd><%= @claim.first_symptoms_date %></dd>

      <dt>First consultation date</dt>
      <dd><%= @claim.first_consultation_date %></dd>

      <dt>Disease type</dt>
      <dd><%= @claim.disease_type %></dd>

      <dt>Relation other disease yn</dt>
      <dd><%= @claim.relation_other_disease_yn %></dd>

      <dt>Relation other disease</dt>
      <dd><%= @claim.relation_other_disease %></dd>

      <dt>Evolution</dt>
      <dd><%= @claim.evolution %></dd>

      <dt>Disease cause</dt>
      <dd><%= @claim.disease_cause %></dd>

      <dt>Origin primary yn</dt>
      <dd><%= @claim.origin_primary_yn %></dd>

      <dt>Origin primary type</dt>
      <dd><%= @claim.origin_primary_type %></dd>

      <dt>Lab tests</dt>
      <dd><%= @claim.lab_tests %></dd>

      <dt>Waiste size</dt>
      <dd><%= @claim.waiste_size %></dd>

      <dt>Weight</dt>
      <dd><%= @claim.weight %></dd>

      <dt>Pressure</dt>
      <dd><%= @claim.pressure %></dd>

      <dt>Physical exploration details</dt>
      <dd><%= @claim.physical_exploration_details %></dd>

      <dt>Lab studies results</dt>
      <dd><%= @claim.lab_studies_results %></dd>

      <dt>Form accountable name</dt>
      <dd><%= @claim.form_accountable_name %></dd>

      <dt>Form accountable address</dt>
      <dd><%= @claim.form_accountable_address %></dd>

      <dt>Purpose</dt>
      <dd><%= @claim.purpose %></dd>

      <dt>Data signature</dt>
      <dd><%= @claim.data_signature %></dd>

      <dt>Cie 10</dt>
      <dd><%= @claim.cie_10 %></dd>

      <dt>Definite diagnose</dt>
      <dd><%= @claim.definite_diagnose %></dd>

      <dt>Diagnose date</dt>
      <dd><%= @claim.diagnose_date %></dd>

      <dt>Cpt 4</dt>
      <dd><%= @claim.cpt_4 %></dd>

      <dt>Tx start</dt>
      <dd><%= @claim.tx_start %></dd>

      <dt>Medicine name</dt>
      <dd><%= @claim.medicine_name %></dd>

      <dt>Medicine dose</dt>
      <dd><%= @claim.medicine_dose %></dd>

      <dt>Medicine duration number</dt>
      <dd><%= @claim.medicine_duration_number %></dd>

      <dt>Medicine duration type</dt>
      <dd><%= @claim.medicine_duration_type %></dd>

      <dt>Tx other name</dt>
      <dd><%= @claim.tx_other_name %></dd>

      <dt>Tx other justification</dt>
      <dd><%= @claim.tx_other_justification %></dd>

      <dt>Tx other days</dt>
      <dd><%= @claim.tx_other_days %></dd>

      <dt>Tx other sessions</dt>
      <dd><%= @claim.tx_other_sessions %></dd>

      <dt>Chemo type</dt>
      <dd><%= @claim.chemo_type %></dd>

      <dt>Chemo sessions</dt>
      <dd><%= @claim.chemo_sessions %></dd>

      <dt>Chemo dose</dt>
      <dd><%= @claim.chemo_dose %></dd>

      <dt>Chemo intervals</dt>
      <dd><%= @claim.chemo_intervals %></dd>

      <dt>Physical rehab days</dt>
      <dd><%= @claim.physical_rehab_days %></dd>

      <dt>Physical rehab sessions</dt>
      <dd><%= @claim.physical_rehab_sessions %></dd>

      <dt>Nursing days</dt>
      <dd><%= @claim.nursing_days %></dd>

      <dt>Nursing hpd</dt>
      <dd><%= @claim.nursing_hpd %></dd>

      <dt>Nursing morning</dt>
      <dd><%= @claim.nursing_morning %></dd>

      <dt>Nursing evening</dt>
      <dd><%= @claim.nursing_evening %></dd>

      <dt>Nursing night</dt>
      <dd><%= @claim.nursing_night %></dd>

      <dt>Nursing 24</dt>
      <dd><%= @claim.nursing_24 %></dd>

      <dt>Tx observations</dt>
      <dd><%= @claim.tx_observations %></dd>

      <dt>Technique description</dt>
      <dd><%= @claim.technique_description %></dd>

      <dt>Special equipment yn</dt>
      <dd><%= @claim.special_equipment_yn %></dd>

      <dt>Special equipment detail</dt>
      <dd><%= @claim.special_equipment_detail %></dd>

      <dt>Procedure mat yn</dt>
      <dd><%= @claim.procedure_mat_yn %></dd>

      <dt>Procedure mat detail</dt>
      <dd><%= @claim.procedure_mat_detail %></dd>

      <dt>Procedure mat complications yn</dt>
      <dd><%= @claim.procedure_mat_complications_yn %></dd>

      <dt>Procedure mat complications describe</dt>
      <dd><%= @claim.procedure_mat_complications_describe %></dd>

      <dt>List other doctors</dt>
      <dd><%= @claim.list_other_doctors %></dd>

      <dt>Claim staff</dt>
      <dd><%= @claim.claim_staff_id %></dd>

      <dt>Inter consultation name</dt>
      <dd><%= @claim.inter_consultation_name %></dd>

      <dt>Inter consultation specialty</dt>
      <dd><%= @claim.inter_consultation_specialty %></dd>

      <dt>Inter consultation network yn</dt>
      <dd><%= @claim.inter_consultation_network_yn %></dd>

      <dt>Inter consultation dates</dt>
      <dd><%= @claim.inter_consultation_dates %></dd>

      <dt>Inter consultation description</dt>
      <dd><%= @claim.inter_consultation_description %></dd>

      <dt>Other tx other doctor yn</dt>
      <dd><%= @claim.other_tx_other_doctor_yn %></dd>

      <dt>Other tx other doctor name</dt>
      <dd><%= @claim.other_tx_other_doctor_name %></dd>

      <dt>Other tx other doctor specialty</dt>
      <dd><%= @claim.other_tx_other_doctor_specialty %></dd>

      <dt>Patient current status</dt>
      <dd><%= @claim.patient_current_status %></dd>

      <dt>Tx continues yn</dt>
      <dd><%= @claim.tx_continues_yn %></dd>

      <dt>Tx continues type</dt>
      <dd><%= @claim.tx_continues_type %></dd>

      <dt>Tx continues duration</dt>
      <dd><%= @claim.tx_continues_duration %></dd>

      <dt>Tx continues doctors</dt>
      <dd><%= @claim.tx_continues_doctors %></dd>

      <dt>Accident description</dt>
      <dd><%= @claim.accident_description %></dd>

      <dt>Discharge date</dt>
      <dd><%= @claim.discharge_date %></dd>

      <dt>Hospital name</dt>
      <dd><%= @claim.hospital_name %></dd>

      <dt>Hospital city</dt>
      <dd><%= @claim.hospital_city %></dd>

      <dt>Hospital stay type</dt>
      <dd><%= @claim.hospital_stay_type %></dd>

      <dt>Surgery performed</dt>
      <dd><%= @claim.surgery_performed %></dd>

      <dt>Findings</dt>
      <dd><%= @claim.findings %></dd>

      <dt>Hospital admission date</dt>
      <dd><%= @claim.hospital_admission_date %></dd>

      <dt>Surgery admission date</dt>
      <dd><%= @claim.surgery_admission_date %></dd>

      <dt>Hospital discharge date</dt>
      <dd><%= @claim.hospital_discharge_date %></dd>

      <dt>Disability caused yn</dt>
      <dd><%= @claim.disability_caused_yn %></dd>

      <dt>Disability caused type</dt>
      <dd><%= @claim.disability_caused_type %></dd>

      <dt>Disability caused from</dt>
      <dd><%= @claim.disability_caused_from %></dd>

      <dt>Disability caused until</dt>
      <dd><%= @claim.disability_caused_until %></dd>

      <dt>Biopsy yn</dt>
      <dd><%= @claim.biopsy_yn %></dd>

      <dt>Doctor specialty</dt>
      <dd><%= @claim.doctor_specialty %></dd>

      <dt>Doctor address</dt>
      <dd><%= @claim.doctor_address %></dd>

      <dt>Doctor cedula pro</dt>
      <dd><%= @claim.doctor_cedula_pro %></dd>

      <dt>Doctor cedula esp</dt>
      <dd><%= @claim.doctor_cedula_esp %></dd>

      <dt>Doctor rfc</dt>
      <dd><%= @claim.doctor_rfc %></dd>

      <dt>Doctor phone</dt>
      <dd><%= @claim.doctor_phone %></dd>

      <dt>Doctor email</dt>
      <dd><%= @claim.doctor_email %></dd>

      <dt>Doctor supplier number</dt>
      <dd><%= @claim.doctor_supplier_number %></dd>

      <dt>Budget surgeon</dt>
      <dd><%= @claim.budget_surgeon %></dd>

      <dt>Budget assistants</dt>
      <dd><%= @claim.budget_assistants %></dd>

      <dt>Budget anesthesiologist</dt>
      <dd><%= @claim.budget_anesthesiologist %></dd>

      <dt>Hospital surgery name</dt>
      <dd><%= @claim.hospital_surgery_name %></dd>

      <dt>Hospital entity</dt>
      <dd><%= @claim.hospital_entity %></dd>

      <dt>Sugery date</dt>
      <dd><%= @claim.sugery_date %></dd>

      <dt>Doctor signature</dt>
      <dd><%= @claim.doctor_signature %></dd>

      <dt>Doctor signature place</dt>
      <dd><%= @claim.doctor_signature_place %></dd>

      <dt>Doctor signature date</dt>
      <dd><%= @claim.doctor_signature_date %></dd>

      <dt>Agreement ins yn</dt>
      <dd><%= @claim.agreement_ins_yn %></dd>

      <dt>Identification file</dt>
      <dd><%= @claim.identification_file %></dd>

      <dt>Health summary</dt>
      <dd><%= @claim.health_summary_id %></dd>

      <dt>Insurance name</dt>
      <dd><%= @claim.insurance_name %></dd>

      <dt>Insurance</dt>
      <dd><%= @claim.insurance_id %></dd>

      <dt>Tx descritption</dt>
      <dd><%= @claim.tx_descritption %></dd>

      <dt>Medicine quantity</dt>
      <dd><%= @claim.medicine_quantity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/claims" class="btn btn-primary">
        Back
      </a>
      <a href="/claims/<%= @claim.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_claim/<%= @claim.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
