<!-- Validation failure messages -->
<% if @office_profile.errors.any? %>
  <% @office_profile.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Office Profile #<%= @office_profile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_office_profile/<%= @office_profile.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for doctor_id -->
      <div class="form-group">
        <label for="doctor_id" class="control-label">
          Doctor
        </label>

        <input type="text" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= @office_profile.doctor_id %>">
      </div>

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <input type="text" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= @office_profile.patient_id %>">
      </div>

      <!-- Label and input for birthdate -->
      <div class="form-group">
        <label for="birthdate" class="control-label">
          Birthdate
        </label>

        <input type="text" id="birthdate" name="birthdate" placeholder="Birthdate" class="form-control" value="<%= @office_profile.birthdate %>">
      </div>

      <!-- Label and input for gender -->
      <div class="form-group">
        <label for="gender" class="control-label">
          Gender
        </label>

        <input type="text" id="gender" name="gender" placeholder="Gender" class="form-control" value="<%= @office_profile.gender %>">
      </div>

      <!-- Label and input for phone_mobile -->
      <div class="form-group">
        <label for="phone_mobile" class="control-label">
          Phone mobile
        </label>

        <input type="text" id="phone_mobile" name="phone_mobile" placeholder="Phone mobile" class="form-control" value="<%= @office_profile.phone_mobile %>">
      </div>

      <button class="btn btn-warning">
        Update Office Profile
      </button>
      or
      <a href="/office_profiles/<%= @office_profile.id %>">Cancel</a>
    </form>
  </div>
</div>
