<div class="page-header">

</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


      <dt>Nombre</dt>
      <dd><%= @office_profile.first_name %> <%= @office_profile.last_father %> <%= @office_profile.Last_mother %></dd>


      <dt>Fecha de nacimiento</dt>
      <dd><%= @office_profile.birthdate %></dd>



    </dl>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
    <div class="btn-group btn-group-justified">
      <form action="/create_medical_relation" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <!-- Label and input for doctor_id -->
        <div class="form-group">
          <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= current_doctor.id %>">
        </div>
        <!-- Label and input for patient_id -->
        <div class="form-group">
          <label for="office_profile_id" class="control-label">
          </label>
          <input type="text" id="office_profile_id" name="office_profile_id" placeholder="" class="form-control" value="<%= @office_profile.id %>">
            <input type="text" id="first_name" name="first_name" placeholder="" class="form-control" value="<%= @office_profile.first_name %>">
              <input type="text" id="Last_mother" name="Last_mother" placeholder="" class="form-control" value="<%= @office_profile.Last_mother %>">
                <input type="text" id="last_father" name="last_father" placeholder="" class="form-control" value="<%= @office_profile.last_father %>">
                  <input type="text" id="birthdate" name="birthdate" placeholder="" class="form-control" value="<%= @office_profile.birthdate %>">
                  <button class="btn btn-sm btn-success">
            Crear
          </button>
        </div>
      </form>
        </div>
          </div>
    </a>
    <div class="btn-group btn-group-justified">
      <div class="col-sm-offset-1 col-sm-10">
    <a href="/office_profiles/<%= @office_profile.id %>/edit" class="btn btn-warning">
      Editar
    </a>
    <a href="/delete_office_profile/<%= @office_profile.id %>" class="btn btn-danger" rel="nofollow">
      Eliminar
    </a>
  </div>
  </div>
</div>
</div>
