<% if !@attachment.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @attachment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<div class = "container" style = "padding-top:20px;">
   <%= form_for @attachment, html: { multipart: true } do |f| %>
      <%= f.label :name, "Nombre de Archivo" %>
      <%= f.text_field :name %>
      <%= f.label :type, "Tipo" %>
      <%= f.text_field :type %>
      <%= f.label :claim_id, "ID Reclamo" %>
      <%= f.number_field :claim_id %>
      <br />
      <%= f.label :attachment, "Archivo" %>
      <%= f.file_field :attachment %>
      <br />
      <%= f.submit "Guardar", class: "btn btn-primary" %>
   <% end %>
</div>
