<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<h3>Archivos Adjuntos del reclamo #<%=params[:id] %></h3>
<br />
<% if current_insurer != nil %>
<a href="/claims/controlpanel">Regresar</a>
<% elsif current_patient != nil %>
<a href="/attachment/new/<%=params[:id] %>" class="btn btn-primary">Agregar archivo</a>
<a href="/claims/record">Regresar</a>
<% else %>
<a href="/attachment/new/<%=params[:id] %>" class="btn btn-primary">Agregar archivo</a>
<a href="/claims">Regresar</a>
<% end %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
        <th>Nombre de Archivo</th>
        <th>Fecha</th>
        <th>Link de descarga</th>
        <th> </th>
      </tr>
   </thead>

   <tbody>

<% Attachment.where("claim_id"=>params[:id]).each do |attachment| %>

<tr>
   <td><%= attachment.name %></td>
<td><%= attachment.created_at %></td>
   <td><%= link_to "Descargar", attachment.attachment_url, :target => "blank" %></td>
   <% if current_insurer != nil %>
   <td></td>
   <% else %>
   <td><%= button_to "Eliminar",  attachment, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{attachment.name}?" %></td>
<% end %>
</tr>
<% end %>
   </tbody>

</table>
