<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">

    <!-- Doctor Sign in -->
    <% if current_doctor != nil %>
    <div class="page-header">
      <!-- doctor online true -->
      <h2><%= current_doctor.practice_name %></h2>
    </div>

    <h1 style="margin-bottom:0px">
      <div class="row">
      <div class="col-md-4">
      <div class="btn-group btn-group-justified">
      <a href="/medical_relations/new" class="btn btn-md btn-default">Agregar Paciente</a>
      <a href="/doctors/index" class="btn btn-md btn-default">Directorio Médico</a>
    </div>
    </div>
    </div>
    </h1>


    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default"  style="background-color:#E7E7E7">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Panel de Control</b></h3>
          </div>
          <div class="panel-body">

            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-user-md" aria-hidden="true"></i> Perfil</h3>
                      <p style="color:green"><%=((11-(Doctor.find(current_doctor.id).attributes.values.select(&:nil?).count + Doctor.find(current_doctor.id).attributes.values.count("")-5)).to_f/11*100).round(0)%>% Completado</p>

                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/doctors/edit" class="btn btn-md btn-info"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-book" aria-hidden="true"></i> Expedientes</h3>
                    <p>Ver y crear expedientes electrónicos</p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/medical_relations" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-comments" aria-hidden="true"></i> Mensajería</h3>
                    <p>Comunicate con tus pacientes</p>
                    <br>
                    <div class="btn-group btn-group-justified">

                      <a href="https://web.whatsapp.com/" target="_blank" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-money" aria-hidden="true"></i> Informes Médicos</h3>
                    <p>Crear informes médicos para tus pacientes</p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/claims" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Prescripciones</h3>
                    <p>Recetas electrónicas</p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/" class="btn btn-md btn-info">Proximamente</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-id-card" aria-hidden="true"></i> Credenciales</h3>
                    <p>Credenciales para tu perfil en línea</p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <% if Credential.where("doctor_id"=>current_doctor).count!=1 %>
                      <a href="/credentials/new" class="btn btn-md btn-info"><i class="fa fa-plus" aria-hidden="true"></i></a>
                      <% else%>
                      <a href="/credentials/<%=Credential.where("doctor_id"=>current_doctor.id).first.id%>" class="btn btn-md btn-info"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Patient Sign in -->

    <%  elsif current_patient != nil %>
    <div class="page-header">
      <!-- doctor online true -->
      <h2><%= current_patient.first_name %>'s Chart</h2>
    </div>

      <h1 style="margin-bottom:0px">
        <div class="row">
        <div class="col-md-8">
        <div class="btn-group btn-group-justified">
      <a href="/historial_medico" class="btn btn-default">Historial Medico</a>
      <a href="/doctors/index" class="btn btn-default">Busqueda de Doctores</a>
      <a href="/claims/record" class="btn btn-default">Reclamos</a>
      <a href="/" class="btn btn-default">Solicitudes</a>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default"  style="background-color:#E7E7E7">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Panel de Control</b></h3>
          </div>
          <div class="panel-body">

            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-user" aria-hidden="true"></i> Perfil</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/patients/edit" class="btn btn-md btn-info"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-book" aria-hidden="true"></i> Expedientes</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/expediente/paciente" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-comments" aria-hidden="true"></i> Mensajería</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">

                      <a href="/" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i>Proximamente</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-money" aria-hidden="true"></i> Informes Médicos</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/claims/record" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Prescripciones</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/" class="btn btn-md btn-info">Proximamente</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%  elsif current_insurer != nil %>
    <div class="page-header">
      <!-- doctor online true -->
      <h2>Home</h2>

      <a href="/doctors/index" class="btn btn-primary">Busqueda de Doctores</a>
      <a href="/claims/controlpanel" class="btn btn-primary">Reclamos</a>

    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default"  style="background-color:#E7E7E7">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Panel de Control</b></h3>
          </div>
          <div class="panel-body">

            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-user" aria-hidden="true"></i> Perfil</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/insurers/edit" class="btn btn-md btn-info">Ver/Editar mi Perfil</a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><i class="fa fa-comments" aria-hidden="true"></i> Mensajería</h3>
                    <p></p>
                    <br>
                    <div class="btn-group btn-group-justified">
                      <a href="/" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i>Proximamente</a>
                    </div>
                  </div>
                </div>
              </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3><i class="fa fa-money" aria-hidden="true"></i> Informes Médicos</h3>
                  <p></p>
                  <br>
                  <div class="btn-group btn-group-justified">
                    <a href="/claims/controlpanel" class="btn btn-md btn-info"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            </div>


          </div>
        </div>
      </div>
    </div>


    <% else %>
    <div class="col-md-12">
      <br>
      <div class="col-md-12 align=center">
        <table class="table userbox">
          <td align="center"> <%= image_tag("general/Logo3.png", width:"250px" ) %></td>
        </table>
      </div>

      <table class="table userbox">
        <tr>
          <td align="center"><%= image_tag("general/pat_icon.png", width:"100px" ) %></td>
          <td align="center"><%= image_tag("general/doc_icon.png", width:"100px" ) %></td>
          <td align="center"><%= image_tag("general/ins_icon.png", width:"100px" ) %></td>
        </tr>
        <tr>

          <td align="center"><a href="/patients/sign_in"> Paciente </a></li></td>
          <td align="center"><a href="/doctors/sign_in"> Doctor  </a></li></td>
          <td align="center"><a href="/insurers/sign_in"> Aseguradora  </a></li></td>
        </tr>
      </table>

    </div>

    <% end %>

  </div>
</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <div class="row col-md-12 align=center">

    <td align="center"> <%= image_tag("general/tabletpatient.jpg", width:"100%" ) %></td>

</div> -->


<div class="under-row"  >
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>
</html>
