<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

</head>
<body>
  <div class="page-header">
    <h1>Directorio Médico</h1>

  </div>






  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Buscar Doctor:</h3>
        </div>
        <div class="panel-body">
          <%= search_form_for(@q, url: "/doctor/search", method: :get) do |f| %>
          <div class="form-group">
            <%= f.label :practice_name_cont, "Nombre del doctor" %>
            <%= f.text_field :practice_name_cont, :class => "form-control", :placeholder => "" %>
          </div>

          <div class="form-group">
            <%= f.label :practice_cont, "Especialidad" %>
            <%= f.text_field :practice_cont, :class => "form-control", :placeholder => "" %>
          </div>

          <div class="form-group">
            <%= f.label :city_work_cont, "Ubicación (ciudad)" %>
            <%= f.text_field :city_work_cont, :class => "form-control", :placeholder => "" %>
          </div>

          <%= f.submit :Buscar, :class => "btn btn-primary btn-block" %>
          <a href="/doctor/index/1" class="btn btn-default btn-block">Eliminar Filtros</a>

          <% end %>
        </div>
      </div>
    </div>



    <div class="col-md-8">
      <p style='text-align: right'>
        <% if params[:pg] != nil %>
        <% if @doctor.count > 10 %>
        <% if params[:pg].to_i > 1 %>
        <a href="/doctor/index/<%= (params[:pg]).to_i-1 %>"> <i class="fa fa-step-backward" aria-hidden="true"></i> </a>
        ... <%= params[:pg ] %>
        <% end %>
        <% if @page < @last_page %>
        ...
        <a href="/doctor/index/<%= (params[:pg]).to_i+1 %>"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
        <% end %>
        <% end %>
        <% end %>
      </p>
      <% @doctors.each do |doctor| %>
      <div class="panel panel default" style="margin-bottom:2px">
        <div class="panel-body" style="padding-bottom:1px; padding-top:1px; margin-bottom:0px; background-color:#FBFCFC">
          <div class="row ">
            <div class="row">
              <div class="col-md-2">
                <% if doctor.photo.blank? %>
                <%= image_tag("general/physician_avatar.png", width:"80px" ) %>
                <% else %>
                <img src="<%= doctor.photo %>" class="img-responsive" style="height:80px; width:80px">
                <% end %>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <h4>  <a href="/public_credentials/<%= doctor.id %>"> <%= doctor.practice_name %></a></h4>
                </div>
                <div class="col-md-12">
                  <h5> <%= doctor.practice %></h5>
                </div>
                <div class="col-md-12">
                  <b> <%=  %></b>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  <b> <%= doctor.city_work %></b>
                </div>
                <div class="col-md-12">
                  <%= doctor.hospital_name %>
                </div>

                <div class="col-md-12">
                  <i class="fa fa-phone" aria-hidden="true"></i> <%= doctor.phone_work %>
                </div>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>


  <br>
  <br>
  <div class="row">


    <div class="under-row"  >
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


    </div>
  </div>
</body>
</html>
