<!-- Validation failure messages -->
<% if @non_pathological.errors.any? %>
  <% @non_pathological.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Non Pathological #<%= @non_pathological.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_non_pathological/<%= @non_pathological.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for drug_type -->
      <div class="form-group">
        <label for="drug_type" class="control-label">
          Drug type
        </label>

        <input type="text" id="drug_type" name="drug_type" placeholder="Drug type" class="form-control" value="<%= @non_pathological.drug_type %>">
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @non_pathological.quantity %>">
      </div>

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <input type="text" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= @non_pathological.patient_id %>">
      </div>

      <button class="btn btn-warning">
        Actualizar
      </button>


      <%= link_to "Cancelar", :back %>
    </form>
  </div>
</div>
