<!-- Validation failure messages -->
<% if @non_pathological.errors.any? %>
  <% @non_pathological.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Agregar No Patológica</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_non_pathological" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for drug_type -->
      <div class="form-group">
        <label for="drug_type" class="control-label">
          Tipo de droga o bebida alcoholica
        </label>

        <input type="text" id="drug_type" name="drug_type" placeholder="ej. Alcohol" class="form-control" value="<%= @non_pathological.drug_type %>">
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Cantidad
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="ej. 2 copas por semana" class="form-control" value="<%= @non_pathological.quantity %>">
      </div>

      <!-- Label and input for patient_id -->
      <div class="form-group">


        <input type="hidden" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= current_patient.id %>">
      </div>

      <button class="btn btn-success">
        Agregar
      </button>
      or
      <a href="/non_pathologicals">Cancelar</a>
    </form>
  </div>
</div>
