<div class="page-header">
  <h3>Non Pathological #<%= @non_pathological.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Drug type</dt>
      <dd><%= @non_pathological.drug_type %></dd>

      <dt>Quantity</dt>
      <dd><%= @non_pathological.quantity %></dd>

      <dt>Patient</dt>
      <dd><%= @non_pathological.patient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/non_pathologicals" class="btn btn-primary">
        Back
      </a>
      <a href="/non_pathologicals/<%= @non_pathological.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_non_pathological/<%= @non_pathological.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
