<div class="page-header">
  <h3>Credenciales: <%= @broker_credential.practice_name %></h3>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel default">
      <div class="panel-body" style="padding-bottom:0px; margin-bottom:0px; background-color:#E7E7E7">
        <div class="row ">

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <img src="<%= @broker_credential.photo %>" class="img-responsive" >
                  </div>
                  <div class="col-md-9">

                    <div class="col-md-10">
                      <h4><%= @broker_credential.practice_name %></h4>
                    </div>
                    <div class="col-md-10">
                      <h5> <%= @broker_credential.company %></h5>
                    </div>
                    <div class="col-md-10">
                      <b> <%= @broker_credential.job_title %></b>
                    </div>
                    <hr>
                    <div class="row col-md-12">


                      <p></p>
                      <dl class="dl-horizontal" style="font-size:12px; margin:0px">
                        <p></p>
                        <br>
                        <dt style="width:100px">e-mail</dt>
                        <dd style="margin-left:100px"><%= @broker_credential.insurer.email %></dd>

                        <dt style="width:100px"> Oficina</dt>
                        <dd style="margin-left:100px"><%= @broker_credential.phone_work %></dd>

                        <dt style="width:100px">Celular</dt>
                        <dd style="margin-left:100px"><%= @broker_credential.phone_mobile %></dd>

                        <dt style="width:100px">Dirección</dt>
                        <dd style="margin-left:100px"><%= @broker_credential.address_work %></dd>


                        <dd style="margin-left:100px"><%= @broker_credential.city_work %>, <%= @broker_credential.state_work %>, <%= @broker_credential.zip_work %></dd>

                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="panel-body">
          </div>
        </div>



      <div class="btn-group btn-group-justified ">
        <a href="/" class="btn btn-primary">
          Regresar
        </a>
        <a href="/broker_credentials/<%= @broker_credential.id %>/edit" class="btn btn-warning">
          Editar
        </a>
        <a href="/delete_broker_credential/<%= @broker_credential.id %>" class="btn btn-danger" rel="nofollow">
          Eliminar
        </a>
      </div>
      <p></p>
      </div>
    </div>
  </div>
</div>
