<% if current_doctor != nil && @credential.doctor_id == current_doctor.id %>

<!-- Validation failure messages -->
<% if @credential.errors.any? %>
<% @credential.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Editar Credenciales Profesionales</h3>
</div>

<form action="/update_credential/<%= @credential.id %>" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


<div class="form-group col-md-4">
  <label for="practice_name" class="control-label">
    Título Profesional
  </label>

  <input type="text" id="practice_name" name="practice_name" placeholder="Dr. Juan Perez" class="form-control" value="<%= @credential.practice_name %>">
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">




          <p style="font-size:20px; font-weight:bold">Resumen Profesional</p>
          <!-- Label and input for practice -->

          <div class="row">
            <!-- Label and input for cedula_pro -->
            <div class="form-group col-md-4">
              <label for="cedula_pro" class="control-label">
                Cedula Profesional
              </label>

              <input type="text" id="cedula_pro" name="cedula_pro" placeholder="###" class="form-control" value="<%= @credential.cedula_pro %>">
            </div>

            <div class="form-group col-md-4">
              <label for="school" class="control-label">
                Escuela
              </label>

              <input type="text" id="school" name="school" placeholder="" class="form-control" value="<%= @credential.school %>">
            </div>

            <div class="form-group col-md-4">
              <label for="practice" class="control-label">
                Especialidad
              </label>

              <input type="text" id="practice" name="practice" placeholder="" class="form-control" value="<%= @credential.practice %>">
            </div>

          </div>


          <!-- Label and input for doctor_id -->

          <input type="hidden" id="doctor_id" name="doctor_id" placeholder="" class="form-control" value="<%= @credential.doctor_id %>">


          <div class="row">

            <!-- Label and input for cedula_esp -->
            <div class="form-group  col-md-4">
              <label for="cedula_esp" class="control-label">
                Cedula de Especialización
              </label>

              <input type="text" id="cedula_esp" name="cedula_esp" placeholder="###" class="form-control" value="<%= @credential.cedula_esp %>">
            </div>

            <!-- Label and input for expertise -->
            <div class="form-group col-md-4">
              <label for="expertise" class="control-label">
                Subespecialidades
              </label>

              <input type="text" id="expertise" name="expertise" placeholder="Enfermedades alérgicas, respiratorias y de la piel" class="form-control" value="<%= @credential.expertise %>">
            </div>

            <!-- Label and input for languages -->
            <div class="form-group col-md-4">
              <label for="languages" class="control-label">
                Idiomas
              </label>

              <input type="text" id="languages" name="languages" placeholder="" class="form-control" value="<%= @credential.languages %>">
            </div>
          </div>

          <!-- Label and input for about_me -->
          <div class="form-group">
            <label for="about_me" class="control-label">
              Acerca de Mí
            </label>
            <textarea id="about_me" name="about_me" placeholder="Acerca de Mí" class="form-control" rows="2"><%= @credential.about_me %></textarea>
            <!-- <input type="textarea" id="about_me" name="about_me" placeholder="" class="form-control" value="<%= @credential.about_me %>"> -->
          </div>

          <hr>
          <p style="font-size:20px; font-weight:bold">Información de Contacto</p>

          <div class="row">
            <!-- Label and input for expertise -->
            <div class="form-group col-md-4">
              <label for="email" class="control-label">
                Correo Electronico
              </label>

              <input type="text" id="email" name="email" placeholder="" class="form-control" value="<%= @credential.email %>">
            </div>

            <!-- Label and input for cedula_esp -->
            <div class="form-group  col-md-4">
              <label for="phone_work" class="control-label">
                Telefono Oficina
              </label>

              <input type="text" id="phone_work" name="phone_work" placeholder="" class="form-control" value="<%= @credential.phone_work %>">
            </div>

            <!-- Label and input for languages -->
            <div class="form-group col-md-4">
              <label for="phone_mobile" class="control-label">
                Celular
              </label>

              <input type="text" id="phone_mobile" name="phone_mobile" placeholder="" class="form-control" value="<%= @credential.phone_mobile %>">
            </div>
          </div>

          <div class="row">
            <!-- Label and input for expertise -->
            <div class="form-group col-md-8">
              <label for="hospital_name" class="control-label">
                Hospital/Consultorio
              </label>

              <input type="text" id="hospital_name" name="hospital_name" placeholder="" class="form-control" value="<%= @credential.hospital_name %>">
            </div>
            </div>

          <div class="row">
            <!-- Label and input for expertise -->
            <div class="form-group col-md-4">
              <label for="street_address_work" class="control-label">
                Calle Oficina
              </label>

              <input type="text" id="street_address_work" name="street_address_work" placeholder="" class="form-control" value="<%= @credential.street_address_work %>">
            </div>

            <!-- Label and input for cedula_esp -->
            <div class="form-group  col-md-4">
              <label for="neighborhood_work" class="control-label">
                Colonia Oficina
              </label>

              <input type="text" id="neighborhood_work" name="neighborhood_work" placeholder="" class="form-control" value="<%= @credential.neighborhood_work %>">
            </div>

            <div class="form-group  col-md-4">
              <label for="state_work" class="control-label">
                Estado
              </label>

              <input type="text" id="state_work" name="state_work" placeholder="" class="form-control" value="<%= @credential.state_work %>">
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-4">
              <label for="city_work" class="control-label">
                Ciudad
              </label>
              <input type="text" id="city_work" name="city_work" placeholder="" class="form-control" value="<%= @credential.city_work %>">
            </div>

            <div class="form-group col-md-4">
              <label for="district_work" class="control-label">
                Municipo
              </label>
              <input type="text" id="district_work" name="district_work" placeholder="" class="form-control" value="<%= @credential.district_work %>">
            </div>

            <div class="form-group col-md-4">
              <label for="zip_work" class="control-label">
                Código Postal
              </label>
              <input type="text" id="zip_work" name="zip_work" placeholder="" class="form-control" value="<%= @credential.zip_work %>">
            </div>
          </div>


          <hr>
          <p style="font-size:20px; font-weight:bold">Información Adicional</p>

          <!-- Label and input for photo -->
          <div class="form-group">
            <label for="photo" class="control-label">
              Foto (URL)
            </label>

            <input type="text" id="photo" name="photo" placeholder="Copie en este espacio el URL de alguna imagen para su perfil (De click derecho sobre una imagen pública y seleccione copiar dirección)" class="form-control" value="<%= @credential.photo %>">
          </div>

          <div class="row">

            <!-- Label and input for rfc -->
            <div class="form-group col-md-6">
              <label for="rfc" class="control-label">
                RFC
              </label>

              <input type="text" id="rfc" name="rfc" placeholder="" class="form-control" value="<%= @credential.rfc %>">
            </div>

            <!-- Label and input for curp -->
            <div class="form-group col-md-6">
              <label for="curp" class="control-label">
                CURP
              </label>

              <input type="text" id="curp" name="curp" placeholder="" class="form-control" value="<%= @credential.curp %>">
            </div>
          </div>



          <input type="checkbox" id="permission_public" name="permission_public" value="1" <%= "checked" if @credential.permission_public %>>
          <label for="doctor_sign" style="color:red">
            Permito que esta informaición sea de carácter público
          </label>

          <p></p>
          <button class="btn btn-warning">
            Actualizar
          </button>

          <%= link_to "Cancelar", :back%>

        </form>
      </div>
    </div>
  </div>
</div>
<% end %>
