<% if current_doctor.email == "admindoc@medilinx.net" %>
  <!-- true -->

<div class="page-header">
  <h1>
    Credentials
    <a href="/credentials/new" class="btn btn-lg btn-success">New Credential</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Practice</th>
        <th>School</th>
        <th>Doctor</th>
        <th>Rfc</th>
        <th>Curp</th>
        <th>Expertise</th>
        <th>Cedula pro</th>
        <th>Languages</th>
        <th>About me</th>
        <th>Photo</th>
        <th>Cedula esp</th>
        <th>Actions</th>
      </tr>

      <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.practice %></td>
        <td><%= credential.school %></td>
        <td><%= credential.doctor_id %></td>
        <td><%= credential.rfc %></td>
        <td><%= credential.curp %></td>
        <td><%= credential.expertise %></td>
        <td><%= credential.cedula_pro %></td>
        <td><%= credential.languages %></td>
        <td><%= credential.about_me %></td>
        <td><%= credential.photo.truncate(12) %></td>
        <td><%= credential.cedula_esp %></td>
        <td>
          <a href="/credentials/<%= credential.id %>" class="btn btn-primary">Show</a>
          <a href="/credentials/<%= credential.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_credential/<%= credential.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% end %>
