<div class="page-header">
  <h3>Credenciales: <%= @credential.practice_name %></h3>
</div>

<div class="row">

  <div class="col-md-12 mb-2">
    <div class="panel panel default">
      <div class="panel-body">
        <div class="row ">
          <div class="col-md-12">

            <div class="panel panel-default">

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <img src="<%= @credential.photo %>" class="img-responsive" height="200" width="200">
                  </div>
                  <div class="col-md-9">
                    <dl class="dl-horizontal">

                      <dt>Especialidad</dt>
                      <dd><%= @credential.practice %></dd>

                      <dt>Cedula Profesional</dt>
                      <dd><%= @credential.cedula_pro %></dd>

                      <dt>Escuela</dt>
                      <dd><%= @credential.school %></dd>

                      <!-- <dt>Doctor</dt>
                      <dd><%= @credential.doctor_id %></dd> -->

                      <dt>Subespecialidad</dt>
                      <dd><%= @credential.expertise %></dd>

                      <dt>Cedula de Especialización</dt>
                      <dd><%= @credential.cedula_esp %></dd>

                      <dt>Idiomas</dt>
                      <dd><%= @credential.languages %></dd>

                      <dt>Acerca de mí</dt>
                      <dd><%= @credential.about_me %></dd>

                      <dt>Correo Elctronico</dt>
                      <dd><%= @credential.email %></dd>

                      <dt>Telefono Oficina</dt>
                      <dd><%= @credential.phone_work %></dd>

                      <dt>Celular</dt>
                      <dd><%= @credential.phone_mobile %></dd>

                      <dt>RFC</dt>
                      <dd><%= @credential.rfc %></dd>

                      <dt>CURP</dt>
                      <dd><%= @credential.curp %></dd>
                    </dl>

                  </div>
                </div>
              </div>
            </div>
          </div>


              <div class="panel-body">
                              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group btn-group-justified">
      <a href="/" class="btn btn-primary">
        Regresar
      </a>
      <a href="/credentials/<%= @credential.id %>/edit" class="btn btn-warning">
        Editar
      </a>
      <a href="/delete_credential/<%= @credential.id %>" class="btn btn-danger" rel="nofollow">
        Eliminar
      </a>
    </div>
  </div>
</div>
