<h2><center>Registro de Asegurador/Broker</center></h2>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Forma de registro</h2>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email,"E-mail", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :insurance_name, "Empresa", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :insurance_name, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :insurance_co, "Tipo de usuario?", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <span class="option">Agente de Seguros</span><%= f.radio_button :insurance_co, "0" %></br>
            <span class="option">Asegurador </span><%= f.radio_button :insurance_co, "1" %></br>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :password, "Contraseña", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <p class="help-block">
              <% if @validatable %>
              (<%= @minimum_password_length %> characters minimum)
              <% end %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmar Constraeña", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "Registrarse", class: "btn btn-success btn-block" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= render "insurers/shared/links" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field">
<%= f.label :email %><br />
<%= f.email_field :email, autofocus: true %>
</div>



<div class="field">
<%= f.label :password %>
<% if @minimum_password_length %>
<em>(<%= @minimum_password_length %> characters minimum)</em>
<% end %><br />
<%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="actions">
<%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "insurers/shared/links" %> -->
