<div class="page-header">
  <h1>
    Claim events
    <a href="/claim_events/new" class="btn btn-lg btn-success">New Claim event</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Patient</th>
        <th>Insurer</th>
        <th>Insurance name</th>
        <th>Permission broker</th>
        <th>Actions</th>
      </tr>

      <% @claim_events.each do |claim_event| %>
      <tr>
        <td><%= claim_event.patient_id %></td>
        <td><%= claim_event.insurer_id %></td>
        <td><%= claim_event.insurance_name %></td>
        <td><%= claim_event.permission %></td>
        <td>
          <a href="/claim_events/<%= claim_event.id %>" class="btn btn-primary">Show</a>
          <a href="/claim_events/<%= claim_event.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_claim_event/<%= claim_event.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
