<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>


<!-- Patient Sign in -->

<% if current_patient != nil %>
<!-- patient online -->
<div class="page-header">
  <!-- doctor online true -->
  <h2><%= current_patient.first_name %>'s Chart</h2>
  <a href="/historial_medico" class="btn btn-default">Historial Medico</a>
  <a href="/doctors/index" class="btn btn-default">Busqueda de Doctores</a>
  <a href="/claims/record" class="btn btn-default">Reclamos</a>

</div>


<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Buscar Doctor:</h3>
      </div>
      <div class="panel-body">
        <%= search_form_for(@q, url: "/expediente/paciente", method: :get) do |f| %>

        <div class="form-group">
          <%= f.label :doctor_practice_name_id_cont, "Nombre del doctor" %>
          <%= f.text_field :doctor_practice_name_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
        </div>
        <div class="form-group">
          <%= f.label :doctor_credential_practice_cont, "Especialidad" %>
          <%= f.text_field :doctor_credential_practice_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
        </div>


        <%= f.submit :class => "btn btn-primary btn-block" %>
        <a href="/expediente/paciente" class="btn btn-default btn-block">Eliminar Filtros</a>

        <% end %>
      </div>
    </div>
  </div>


  <div class="col-md-8">

  <div class="panel panel-default">
    <table class="table table-striped table-hover">
      <tr>
        <th>Doctor</th>
        <th>Especialidad</th>
        <th></th>
        <th style="text-align:center">Permisos</th>
      </tr>
      <% @medical_relations.where("patient_id"=>current_patient.id).each do |medical_relation| %>
      <tr>

        <td><%= medical_relation.doctor.practice_name %></td>
        <% if medical_relation.doctor.credential != nil %>
          <td><% a= @credentials.where("doctor_id"=>medical_relation.doctor_id) %><%= a.first.practice %></td>
          <% else %>
        <td></td>
        <% end %>


        <td>
          <a href="/doctors/<%= medical_relation.doctor_id %>" class="btn btn-primary">Ver Expediente</i></a>
          <!-- <a href="/medical_relations/<%= medical_relation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_medical_relation/<%= medical_relation.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
        <% if medical_relation.permission == true %>
          <!-- <td><a href="/medical_relations/<%= medical_relation.id %>/permission" class="btn btn-success" style="width:45px"><i class="fa fa-check" aria-hidden="true"></i></a></td> -->
          <td style="color:green;text-align:center"><i class="fa fa-check" aria-hidden="true"></i></td>
          <%else %>
            <td style="text-align:center"><a href="/medical_relations/<%= medical_relation.id %>/permission"  class="btn btn-warning" ><i class="fa fa-bell" aria-hidden="true"></i></a></td>
            <!-- onClick="window.open('http://localhost:3000/medical_relations/<%= medical_relation.id %>/permission','pagename','resizable,height=260,width=370'); return false;" -->
        <% end %>
      </tr>


      <% end %>
    </table>
      </div>
  </div>
</div>


<% end %>



<body style="background-color:rgb(252,252,252);">




</body>
</html>
