<!-- Validation failure messages -->
<% if @medical_relation.errors.any? %>
  <% @medical_relation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
<h3>Buscar Paciente</h3>
</div>


<form class="" action="/medical_relations/search">
  <div>
    <label for "APR">
      Correo Electrónico
    </label>
    <input type="text" name="email" placeholder="paciente@medilinx.net" id="email">
<button>Buscar</button>
</div >
</form>
<div class="page-header">
<h3>Agregar Paciente Nuevo</h3>
</div>
<div>
<div class="row">
  <div class="col-sm-12">
    <form action="/create_medical_relation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <!-- Label and input for doctor_id -->
      <div class="form-group">
        <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= current_doctor.id %>">
      </div>
      <div class="col-sm-3 form-group">
        <label for="first_name" class="control-label">
          Nombre(s)
        </label>
        <input type="text" id="first_name" name="first_name" placeholder="Nombre" class="form-control" value="<%= @medical_relation.first_name %>">
      </div>
      <div class="col-sm-3 form-group">
        <label for="last_father" class="control-label">
          Apellido Paterno
        </label>
        <input type="text" id="last_father" name="last_father" placeholder="Apellido Paterno" class="form-control" value="<%= @medical_relation.last_father %>">
      </div>
      <div class="col-sm-3 form-group">
        <label for="Last_mother" class="control-label">
          Apellido Materno
        </label>
        <input type="text" id="Last_mother" name="Last_mother" placeholder="Apellido Materno" class="form-control" value="<%= @medical_relation.Last_mother %>">
      </div>
      <div class="col-sm-3 form-group">
        <label for="birthdate" class="control-label">
          Fecha de nacimiento
        </label>
        <input type="date" id="birthdate" name="birthdate" placeholder="Birthdate" class="form-control" value="<%= @medical_relation.birthdate %>">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-3 form-group">
          <label for="birthdate" class="control-label">
            Correo Electronico
          </label>
          <input type="text" id="email" name="email" placeholder="@" class="form-control" value="<%= @medical_relation.email %>">
          </div>

          <div class="form-group col-md-3">
            <label for="gender" class="control-label">
              Sexo:
            </label>
            <br>
            <% if  @medical_relation.gender == "f" %>
            <input type="radio" id="gender" name="gender" value="M" > Masculino
            <input type="radio" id="gender" name="gender" value="F" checked="checked"> Femenino

            <% else %>
            <input type="radio" id="gender" name="gender" value="M" checked="checked"> Masculino
            <input type="radio" id="gender" name="gender" value="F"> Femenino
            <% end %>

            </div>
            <div class="col-sm-3 form-group">
            <label for="birthdate" class="control-label">
              Grupo Sanguíneo
            </label>
            <input type="text" id="blood_type" name="blood_type" placeholder="" class="form-control" value="<%= @medical_relation.blood_type %>">
            </div>

          </div>

      </div>

      <button class="btn btn-sm btn-success">
        Crear Ficha de Paciente Nuevo
      </button>

    </div>



    </form>
  </div>
</div>
<br>
  <%= link_to "Regresar", :back%>

<!-- <div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <form action="/create_medical_relation" method="post">

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <div class="form-group">
        <h4><%=current_doctor.practice_name %></h4>
        <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= current_doctor.id %>">
      </div>

      <div class="form-group">
        <label for="patient_id" class="control-label">
          Correo Electrónico del paciente
        </label>

        <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :email, @medical_relation.patient_id), :class => "form-control") %>

      </div>

      <button class="btn btn-success">
        Agregar
      </button>
      <%= link_to "Cancelar", :back%>

      <p></p>
      El paciente no esta en la lista?
      <a href="mailto:?subject=The%20subject%20of%20the%20email&amp;body=Join%20MediLinx%20http://localhost:3000/patients/sign_up">Enviar invitación MediLinx</a>
    </form>
  </div>
</div> -->
