<div class="page-header">
  <h3>Medical Relation #<%= @medical_relation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


      <dt>Patient</dt>
      <dd><%= @medical_relation.patient.first_name %> <%= @medical_relation.patient.last_father %></dd>
      <dt>Age</dt>
      <dd><%= @medical_relation.patient.birthdate %>.</dd>
      <dd><%= @age %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/medical_relations" class="btn btn-primary">
        Back
      </a>
      <a href="/medical_relations/<%= @medical_relation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_medical_relation/<%= @medical_relation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
