<div class="page-header">
  <h3>Medical Relation #<%= @medical_relation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Doctor</dt>
      <dd><%= @medical_relation.doctor_id %></dd>

      <dt>Patient</dt>
      <dd><%= @medical_relation.patient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/medical_relations" class="btn btn-primary">
        Back
      </a>
      <a href="/medical_relations/<%= @medical_relation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_medical_relation/<%= @medical_relation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
