<!-- <div class="panel panel-default">
<h3 style="background-color:white; padding-left:10px"><b> Expediente de Paciente: <u> <%= @medical_relation.patient.first_name %> <%= @medical_relation.patient.last_father %> <%= @medical_relation.patient.last_mother %></u></b></h3>
</div> -->



<% if @medical_relation.permission %>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <!-- true -->

      <div class="panel-heading">
        <h4 style="margin:0px">
          <span style="text-align:left"><b> Ficha de Identificación</b></span>
          <% if current_patient != nil %>
          <!-- true -->
          <span style="float:right;"><a href="/patients/edit" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
          <% else %>
          <span style="float:right;"><a href="mailto:<%= @medical_relation.patient.email %>?subject=The%20subject%20of%20the%20email&amp" class="btn btn-sm btn-info">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a></span>
          <!-- <span style="float:right;"><%= link_to "Regresar", :back, :class=>"btn btn-sm btn-default" %></span> -->
          <% end %>

        </h4>

      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag("general/pat_icon.png", width:"100px" ) %>
          </div>
          <div class="col-md-10">

            <dl class="dl-horizontal">
              <dt style="font-size:20px">Paciente</dt>
              <dd style="font-size:20px; color:#317eac; font-weight:bold"><%= @medical_relation.patient.first_name %> <%= @medical_relation.patient.last_father %> <%= @medical_relation.patient.last_mother %></dd>
              <dt>Sexo</dt>
              <dd> <%=@gender %></dd>
              <dt>Edad</dt>
              <dd><%= @age %></dd>
              <dt>Telefono</dt>
              <dd><%= @medical_relation.patient.phone_mobile %></dd>
              <dt>E-mail</dt>
              <dd><%= @medical_relation.patient.email %></dd>
              <dt>Domicilio</dt>
              <dd><%= @medical_relation.patient.street_address %>, <%= @medical_relation.patient.city %></dd>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">

    <a href="/historial_medico/doctor/<%=@medical_relation.patient_id %>" class="btn btn-lg btn-info" style="width:100%">Historia Clínica</a>
    <p></p>
    <a href="" class="btn btn-lg btn-info" style="width:100%">Resumen de Exploración Física</a>
    <!-- <button class="btn btn-md btn-default" style="width:200px">Alergias</button> -->

  </div>
</div>
<% else %>
<!-- En caso de no tener permiso -->
<span style="color:red; font-size:20px">
  <i class="fa fa-clock-o" aria-hidden="true"></i> <b>En Espera de Aprobación:</b> Este Usuario no ha otorgado permisos para compartir información personal.  Se requieren de los permisos para ver Ficha de identificación y el Historial Médico </span></a>
  <p></p>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <!-- true -->

        <div class="panel-heading">
          <h4 style="margin:0px">
            <span style="text-align:left"><b> Ficha de Identificación</b></span>
          </div>
        </div>
      </div>
    </div>
    <% end %>


    <!-- Boton Crear nota medica  -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h3 style="margin:0px"><b> Notas Médicas</b></h3>
        </div>
        <p></p>
        <div class="panel-body" style="padding:0px; margin-bottom:10px">

            <div class="panel panel-default col-md-6" >
              <div class="row">
              <div class="panel-body" style="padding:0px; margin-bottom:0px; background-color:#E7E7E7"">
                <form action="/create_event" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <div class="col-md-4">
                    <button class="btn btn-success">
                      Nuevo Encuentro
                    </button>

                  </div>
                  <div class="form-group">
                    <input type="hidden" id="patient_id" name="patient_id" placeholder="patient_id" class="form-control" value="<%= @medical_relation.patient_id %>">
                  </div>
                  <div class="form-group">
                    <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= current_doctor.id %>">
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">

                      <input list="tipo_encuentro" id="encounter_type" name="encounter_type" placeholder="Seleccionar tipo de encuentro*" class="form-control" value="<%= @event_new.encounter_type %>">
                      <datalist class="" id="tipo_encuentro">
                        <option value="Visita"></option>
                        <option value="Llamada"></option>
                        <option value="Otro"></option>
                      </div>
                    </div>
                  </form>
                </div>

                <h3 style="margin:0px">
                  <!-- <a href="/evol_mednotes/new/<%= @medical_relation.patient_id %>" class="btn btn-md btn-primary">Nota de Evolución
                </a> -->

              </h3>

            </div>
          </div>
        </div>

        <div class="row">
          <!-- Barra de filtro -->

        </div>

        <!-- <div class="row">
        <div class="col-md-12"> -->
        <div class="panel panel-default">

          <table class="table table-striped table-hover">
            <tr >
              <th>Fecha</th>
              <th>Tipo de encuentro</th>
              <th>Diagnostico</th>

              <th>Notas</th>
              <th style="text-align:center">Nota de Evolución</th>
              <!-- <th>Informe Aseguradora</th> -->

            </tr>

            <% @events.where("patient_id" => @medical_relation.patient_id).reverse.each do |event| %>
            <tr>
              <td><%= event.created_at.to_date%></td>
              <td><a href="/events/<%= event.id %>"> <%= event.encounter_type %></a></td>
              <td><%= event.diagnose %></td>
              <td><%= event.treatment %></td>

              <% ary1 = Array.new %>
              <% @evol_mednotes.where("event_id"=> event.id).each do |evolnote|%>
              <% ary1.push(evolnote.id) %>
              <% end %>
              <% if ary1.empty? %>
              <!-- true -->
              <td style="text-align:center">  <a href="/evol_mednotes/new/<%= @medical_relation.patient_id %>/<%= event.id %>" class="btn btn-sm btn-success">+
              </a></td>
              <% else %>
              <td style="text-align:center">  <a href="/evol_mednotes/<%= event.evol_mednote.id %>" class="btn btn-sm btn-primary">Ver
              </a></td>
              <% end %>

              <!-- <td> -->
              <!-- <a href="/events/<%= event.id %>/edit" class="btn btn-warning; background-color:blue">Editar</a> -->
              <!-- <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow"><i class="fa fa-trash-o" aria-hidden="true"></i>
            </a> -->
            <!-- </td> -->
            <!-- <td>
            <% ary2 = Array.new %>
            <% @claims.where("event_id"=> event.id).each do |claim|%>
            <% ary2.push(claim.id) %>
            <% end %>
            <% if ary2.empty? %>


            <form action="/create_claim" method="post">

            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= current_doctor.id %>">
            <input type="hidden" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= @medical_relation.patient_id %>">
            <input type="hidden" id="doctor_name" name="doctor_name" placeholder="Doctor name" class="form-control" value="<%= @medical_relation.doctor.practice_name %>">
            <input type="hidden" id="age" name="age" placeholder="Age" class="form-control" value="<%= @age %>">
            <input type="hidden" id="patient_name" name="patient_name" placeholder="" class="form-control" value="<%= @medical_relation.patient.first_name %> <%= @medical_relation.patient.last_father %> <%= @medical_relation.patient.last_mother %>">
            <% if @medical_relation.patient.gender != nil %>
            <input type="hidden" id="gender" name="gender" placeholder="" class="form-control" value="<%= @medical_relation.patient.gender.capitalize %>">
            <% end %>
            <input type="hidden" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= event.id %>">
            <input type="hidden" id="definite_diagnose" name="definite_diagnose" placeholder="Event" class="form-control" value="<%= event.diagnose %>">

            <button class="btn btn-sm btn-success" style="width:130px">
            Generar Informe
          </button>
        </form>
        <% else %>
        <a href="/claims/<%= ary1.first %>" class="btn btn-sm btn-primary" style="width:130px">Ver Informe</a>
        <% end %>
      </td>

    </td> -->
  </tr>
  <% end %>
</table>
</div>
</div>
</div>


<div class="">
  <a href="/medical_relations" class="btn btn-primary" style="width:180px">
    Regresar
  </a>
  <p></p>
  <p></p>
  <br><br>
  <!-- <a href="/medical_relations/<%= @medical_relation.id %>/edit" class="btn btn-warning">
  Edit
</a> -->
<% if @events.where("patient_id" => @medical_relation.patient_id).count == 0 %>
<!-- true -->
<a href="/delete_medical_relation/<%= @medical_relation.id %>" class="btn btn-danger" rel="nofollow" style="width:180px">
  Eliminar Paciente !
</a>
<% end %>
</div>
</div>
</div>
