<div class="page-header">
  <h3>Patient Profile: <%= @medical_relation.patient.first_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


      <dt>Patient</dt>
      <dd><%= @medical_relation.patient.first_name %> <%= @medical_relation.patient.last_father %></dd>
      <dt>Age</dt>
      <dd><%= @age %></dd>
      <dt>Gender</dt>
      <dd><%= @medical_relation.patient.gender %></dd>
      <dt>Phone</dt>
      <dd><%= @medical_relation.patient.phone_mobile %></dd>

    </dl>
    <div >
      <h3>
        <a href="/events/new" class="btn btn-lg btn-primary">New Record</a>
      </h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <tr>
            <th>Date</th>
            <th>Diagnose</th>
            <th>Weight</th>
            <th>Treatment</th>
            <th>Actions</th>
          </tr>

          <% @events.where("patient_id" => @medical_relation.patient_id).each do |event| %>
          <tr>
            <td><%= event.created_at.to_date%></td>
            <td><%= event.diagnose %></td>
            <td><%= event.weight %></td>
            <td><%= event.treatment %></td>
            <td>
              <a href="/events/<%= event.id %>" class="btn btn-primary">Show</a>
              <a href="/events/<%= event.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="btn-group btn-group-justified">
      <a href="/medical_relations" class="btn btn-primary">
        Back
      </a>
      <!-- <a href="/medical_relations/<%= @medical_relation.id %>/edit" class="btn btn-warning">
        Edit
      </a> -->
      <a href="/delete_medical_relation/<%= @medical_relation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
